<!DOCTYPE html>
<html lang="en">
  <head>
    <title>City Veterinary Office</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="/websitePart/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/websitePart/css/animate.css">
    
    <link rel="stylesheet" href="/websitePart/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/websitePart/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/websitePart/css/magnific-popup.css">

    <link rel="stylesheet" href="/websitePart/css/aos.css">

    <link rel="stylesheet" href="/websitePart/css/ionicons.min.css">

    <link rel="stylesheet" href="/websitePart/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/websitePart/css/jquery.timepicker.css">

     
    <link rel="stylesheet" href="/websitePart/css/flaticon.css">
    <link rel="stylesheet" href="/websitePart/css/icomoon.css">
    <link rel="stylesheet" href="/websitePart/css/style.css">

  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" data-aos="fade-down" data-aos-delay="500">
      <div class="container">
        <a class="navbar-brand" href="/CVO_Homepage/home">City Veterinary Office</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="/CVO_Homepage/home" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/CVO_Homepage/AboutUs" class="nav-link">About Us</a></li>
            <li class="nav-item"><a href="/CVO_Homepage/home#faqSection" class="nav-link">FAQ</a></li>
            <li class="nav-item"><a href="/CVO_Homepage/home#learnSection" class="nav-link">Learn</a></li>
            <li class="nav-item"><a href="/CVO_Homepage/home#servicesSection" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="/CVO_Homepage/home#animalSection" class="nav-link">Animals</a></li>
            <li class="nav-item"><a href="/PetOwner_Login" class="nav-link">Pet Owner</a></li>
   
          </ul>
        </div>
      </div>
    </nav>