<%- include('../../../templates/CVO-Homepage-NavBar.ejs') -%>
                <!-- Basic Examples -->
                <br><br><br><br>
            <div class="container-fluid">
                <div class="row" style="height:100%">
                    <div class="col-md-4">
                        <img src="../../images/noIdPicture.jpg" height="400px" width="430px" style="border:2px solid black"/>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h1>Topic</h1>
                                <small>datetime posted:</small>
                            </div>
                            <div class="body">
                                <p>Article Content ... </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


                <!-- #END# Basic Examples -->
                <%- include('../../../templates/CVO-Homepage-Footer.ejs') -%>