<%- include('../../../templates/CVO-Homepage-NavBar.ejs') -%>
    

    <section >
	<!----- CAROUSEL ----->
	 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="../../images/image-gallery/11.jpg" />
                                    </div>
                                    <div class="item">
                                        <img src="../../images/image-gallery/12.jpg" />
                                    </div>
                                    <div class="item">
                                        <img src="../../images/image-gallery/19.jpg" />
                                    </div>
                                </div>

                               
    </div>
	</section>
	<!----- END OF CAROUSEL ----->
	  
	  
						<!-- FOR ADOPTION -->	
						<section id="anim">
        <div class="container-fluid">
		<center>
		<div class="block-header">
                <h1>
                    Adoption!<br>
                    <small>"Don't buy, Adopt!"</small>
                </h1>
            </div>
			</center>
         <div class="row" style="padding:20px">
		 
		 <center>
            
                <div class="col-lg-2">
                    <div class="card">
                       <div class="header bg-blue">
                            <h2>
                                Doglas McArthur <small>34 Years Old</small>
                            </h2>
                            
                        </div>
                        <div class="body">
						<img src="../../images/douglas.jpg" width="100%"/><br>
                            <p align="center">He loves to eat and sleep. He has a white cuddly hair that will make you more comfortable when petting him.</p>
							<center><button type="button" class="btn btn-primary waves-effect">ADOPT ME</button></center>
                        </div>
                    </div>
                </div>
				
				<div class="col-lg-2">
                    <div class="card">
                       <div class="header bg-blue">
                            <h2>
                                Doglas McArthur <small>34 Years Old</small>
                            </h2>
                            
                        </div>
                        <div class="body">
						<img src="../../images/douglas.jpg" width="100%"/><br>
                            <p align="center">He loves to eat and sleep. He has a white cuddly hair that will make you more comfortable when petting him.</p>
							<center><button type="button" class="btn btn-primary waves-effect">ADOPT ME</button></center>
                        </div>
                    </div>
                </div>
				
				<div class="col-lg-2">
                    <div class="card">
                       <div class="header bg-blue">
                            <h2>
                                Doglas McArthur <small>34 Years Old</small>
                            </h2>
                            
                        </div>
                        <div class="body">
						<img src="../../images/douglas.jpg" width="100%"/><br>
                            <p align="center">He loves to eat and sleep. He has a white cuddly hair that will make you more comfortable when petting him.</p>
							<center><button type="button" class="btn btn-primary waves-effect">ADOPT ME</button></center>
                        </div>
                    </div>
                </div>
				
				<div class="col-lg-2">
                    <div class="card">
                       <div class="header bg-blue">
                            <h2>
                                Doglas McArthur <small>34 Years Old</small>
                            </h2>
                            
                        </div>
                        <div class="body">
						<img src="../../images/douglas.jpg" width="100%"/><br>
                            <p align="center">He loves to eat and sleep. He has a white cuddly hair that will make you more comfortable when petting him.</p>
							<center><button type="button" class="btn btn-primary waves-effect">ADOPT ME</button></center>
                        </div>
                    </div>
                </div>
               
			   <div class="col-lg-2">
                    <div class="card">
                       <div class="header bg-blue">
                            <h2>
                                Doglas McArthur <small>34 Years Old</small>
                            </h2>
                            
                        </div>
                        <div class="body">
						<img src="../../images/douglas.jpg" width="100%"/><br>
                            <p align="center">He loves to eat and sleep. He has a white cuddly hair that will make you more comfortable when petting him.</p>
							<center><button type="button" class="btn btn-primary waves-effect">ADOPT ME</button></center>
                        </div>
                    </div>
                </div>
				
				<div class="col-lg-2">
                    <div class="card">
                       <div class="header bg-blue">
                            <h2>
                                Doglas McArthur <small>34 Years Old</small>
                            </h2>
                            
                        </div>
                        <div class="body">
						<img src="../../images/douglas.jpg" width="100%"/><br>
                            <p align="center">He loves to eat and sleep. He has a white cuddly hair that will make you more comfortable when petting him.</p>
							<center><button type="button" class="btn btn-primary waves-effect">ADOPT ME</button></center>
                        </div>
                    </div>
                </div>
			</center>           
            <div class="row" >
            
					<center><nav>
                                <ul class="pagination">
                                    <li class="disabled">
                                        <a href="javascript:void(0);">
                                            <i class="material-icons">chevron_left</i>
                                        </a>
                                    </li>
                                    <li class="active"><a href="javascript:void(0);">1</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect">2</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect">3</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect">4</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect">5</a></li>
                                    <li>
                                        <a href="javascript:void(0);" class="waves-effect">
                                            <i class="material-icons">chevron_right</i>
                                        </a>
                                    </li>
                                </ul>
                    </nav></center>
            </div>
			</div>
        </div>
		</section>
		<!-- END OF FOR ADOPTION -->
		<!--- STATS ---->
		<section style="background-color:white">
			<div class="container-fluid">
			
				
				<div class="block-header" align="center">
					<h1>Statistical Report<br><small>Number of stuffs</small></h1>
				</div>
				
				<div class="col-lg-3">
					<div class="info-box-2">
						<div class="icon">
							<i class="material-icons col-blue">face</i>
						</div>
						<div class="content">
							<div class="text">PET OWNERS</div>
							<div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">257</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3">
					<div class="info-box-2">
						<div class="icon">
							<i class="material-icons col-blue">face</i>
						</div>
						<div class="content">
							<div class="text">PET OWNERS</div>
							<div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">257</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3">
					<div class="info-box-2">
						<div class="icon">
							<i class="material-icons col-blue">face</i>
						</div>
						<div class="content">
							<div class="text">PET OWNERS</div>
							<div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">257</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3">
					<div class="info-box-2">
						<div class="icon">
							<i class="material-icons col-blue">face</i>
						</div>
						<div class="content">
							<div class="text">PET OWNERS</div>
							<div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">257</div>
						</div>
					</div>
				</div>
				
			</div>
		</section>
		<!--- END OF STATS ---->
		
		<!--- MVG ---->
		<section style="background-color:light gray">
			<div class="container-fluid">
				<div class="block-header" align="center">
					<h1>Mission, Vision, & Goal<br><small>Subtitle</small></h1>
				</div>
				
				
			 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="body bg-blue">
                            The Animal Protection and Council Office (APCO) was created by virtue of Ordinance No. 156, Series of 1996 and its main task is to eradicate stray animals; to provide protection against the spread of deadly rabies caused by animal bites, particularly dogs; and to control excessive breeding of dogs by irresponsible pet owners, causing animals to become stray which poses a health risk to humans and knowing that stray animals in public places in the city is strictly prohibited according to Ordinance No. 129, Series of 1993. Their main goal is to turn the city of Marikina into a rabies-free city.
                        </div>
                    </div>
                </div>
					 <div class="col-lg-8 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="body bg-white">
						<img src="../../images/image-gallery/MVG2.jpg" width="100%"/>
                        </div>
                    </div>
                </div>
				
			</div>
		</section>		
		<!--- END OF MVG---->
		
		<!--- LOST AND FOUND ---->
		<section style="background-color:white">
			<div class="container-fluid">
				<div class="block-header" align="center">
					<h1>Lost & Found<br><small>If your pets was lost, you may look for them here.</small></h1>
					<div class="col-lg-2"></div>
					<div class="col-lg-8 col-md-4 col-sm-6 col-xs-12">
						<div class="card">
							<div class="body bg-white">
								<form>
								<label> <i class="material-icons">search</i></label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="name" class="form-control" placeholder="Enter any kind of description of your pet(Color, Breed, etc.)...">
                                    </div>
                                </div>
                              
              
                                <button type="button" class="btn btn-primary m-t-15 waves-effect">SEARCH</button>
                            </form>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
		</section>		
		<!--- END OF LOST AND FOUND ---->
		

		
		<!--- CONTACT US ---->
		<section style="background-color:light gray">
			<div class="container-fluid">
				<div class="block-header" align="center">
					<h1>CONTACT US<br><small>For a support or any questions: Email us at <font style="color:#2196f3">cvo.marikina@yahoo.com</font></small></h1>
				</div>
				<div class="col-lg-2"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header bg-blue">
                            <h2>
                                Get in Touch
								<small>Please fill out the quick form and we will be in touch with lightening speed. #newsletter</small>
                            </h2>
                        </div>
                        <div class="body">
                            <form>
								<label for="password">Name</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="name" class="form-control" placeholder="Enter your Name">
                                    </div>
                                </div>
                                <label for="email_address">Email Address</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="email_address" class="form-control" placeholder="Enter your email address">
                                    </div>
                                </div>
                                

              
                                <br>
                                <button type="button" class="btn btn-primary m-t-15 waves-effect">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<p>
					<strong>CITY VETERINARY OFFICE-Marikina</strong><br>
					<i>Animal Control Service</i><br>
					2nd Floor of Engineering Bldg., Agora Complex, Paliparan Sto. Nino, Marikina City<br>
					(02)475 4719<br>
					<strong>Office Hours:</strong> 8:00am-5:00pm					
					</p>
				</div>
			</div>
		</section>		
<%- include('../../../templates/CVO-Homepage-Footer.ejs') -%>