<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>

document.getElementById("impoundingsite_list").className="active";
document.getElementById("maintenance_list").className="active";

</script>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue" >

                <h2>
                CAGES IN IMPOUNDING AREA
                </h2>

                <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" onclick="changeView();" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">remove_red_eye</i>
                                    </a>
                                    <script>
                                    var currentview= "datatable";
                                    function changeView(){
                                      if(currentview=="datatable"){
                                        document.getElementById('tiledpicture').hidden=false;
                                        document.getElementById('datatable').hidden=true;
                                        currentview="tiled";
                                      }
                                      else{
                                        document.getElementById('tiledpicture').hidden=true;
                                        document.getElementById('datatable').hidden=false;
                                        currentview="datatable";
                                      }
                                    }
                                    </script>
                                </li>
                            </ul>
            </div>
            <div class="body" id="datatable">
             <%- include('./view_datatable.ejs') -%>
            </div>
            <div class="body" hidden id="tiledpicture">
             <%- include('./view_tiled.ejs') -%>
            </div>
        </div>
    </div>



             <div class="modal fade" id="actionsCage" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">Cage Details</h4>
                        </div>
                        <div class="modal-body">
                        <table class="table table-striped">
                                <tr>
                                  <td><strong>ID NUMBER:</strong></td>
                                  <td ><input type="text" id="modal_ID" class="form-control" name="name" required="" aria-required="true" disabled></td>
                                </tr>
                                <tr>
                                  <td><strong>CAGE NUMBER:</strong></td>
                                  <td><input type="text" id="modal_CageNumber" class="form-control" name="name" required="" aria-required="true" disabled></td>
                                  </tr>
                                <tr>
                                  <td><strong>CAGE TYPE:</strong></td>
                                  <td><input type="text" id="modal_CageType" class="form-control" name="name" required="" aria-required="true" ></td>
                                  </tr>
                                <tr>
                                  <td><strong>STATUS:</strong></td>
                                 <td>
                                   <div class="switch" align="center">
                                          <label><input id="modal_status" type="checkbox"><span class="lever switch-col-blue"></span></label>
                                          <span id="modal_statusIndicator">Inactive</span>
                                      </div></td>

                                </td>
                                 </tr>


                              </table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>

<script>
function iteratingCage(cageDetails){
  document.getElementById('modal_ID').value= "CAGE-"+JSON.parse(cageDetails).int_CageId;
  document.getElementById('modal_CageNumber').value= "#" +JSON.parse(cageDetails).int_CageNumber;
  if(JSON.parse(cageDetails).int_CageType==0){
    document.getElementById('modal_CageType').value="For Impounding Animal";
  }
  else{
    document.getElementById('modal_CageType').value="For Animal Observation"
  }
  if(JSON.parse(cageDetails).int_Status==1){
    document.getElementById('modal_status').checked="checked";
    document.getElementById('modal_statusIndicator').innerHTML="Active";
  }
  else{
      document.getElementById('modal_status').checked="";
      document.getElementById('modal_statusIndicator').innerHTML="Inactive";
  }

  $('#actionsCage').modal('toggle');
}
</script>
<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
