  <div class="modal fade" id="add" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document" >
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">ADD NEW EMPLOYEE</h4>
                        </div>
                        <div>
                        <div class="modal-body" style="min-height: 300px">

                            <form id="form_validation" method="POST" action="/CVO_Employees" enctype="multipart/form-data">
                           <div class="col-sm-4"> <img src="../../images/noIdPicture.jpg" onclick="$('#idpic').trigger('click'); "style="cursor: pointer;border:4px;border-style:solid;border-color:#2196f3" id="blah" src="#" alt="your image" width="200" height="200" /><br><br><br>
                              <script type="text/javascript">

                                function readURL(input) {
                                    if (input.files && input.files[0]) {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        $('#blah').attr('src', e.target.result);
                                        };
                                            reader.readAsDataURL(input.files[0]);
                                        }
                                        else{
                                        $('#blah').attr('src',"../../images/noIdPicture.jpg");
                                        }
                                        }
                                </script>
                              
                                  <div class="form-line">
                                    <label class="form-label">ID Picture</label>
                                    <input type="file" name="myimage" id="idpic" onchange="readURL(this);" />
                                  </div>
                              </div>
                                <div class="col-sm-8">
                                <div class="col-sm-12"><br></div>
                                <div class="col-sm-4">
								<label class="form-label">First Name</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="FName" autocomplete="off">
                                    </div>
                                </div>
                                </div>
                                <div class="col-sm-4">
								<label class="form-label">Middle Name</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="MName" autocomplete="off">
                                    </div>
                                </div>
                                </div>
                                <div class="col-sm-4">
								<label class="form-label">Last Name</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="LName" autocomplete="off">
                                    </div>
                                </div>
                                </div>
                                <div class="col-sm-12">

								<label class="form-label">Email</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="email" class="form-control" name="Email" autocomplete="off">
                                    </div>
                                </div>
								<label class="form-label">Employee Type</label>


                             <select class="form-control show-tick" data-live-search="true" name="EmployeeType">
                                        <option value="select">select</option>
                                        <option value=0>Office Staff</option>
                                        <option value=1>Apprehension Team</option>
                                        <option value=2>Secretary</option>
                                        <option value=3>Management</option>

                                    </select>
                                    </div>
								
                               </div>
                            </form>





			
   </div>
                      </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">ADD</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
                <script>
                function statIndicate(){
                    if(document.getElementById('StatusIndication').innerHTML=='Active'){
                        document.getElementById('StatusIndication').innerHTML='Inactive';
                    }
                    else{
                        document.getElementById('StatusIndication').innerHTML='Active';
                    }
                }
                </script>