<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>

document.getElementById("utilities_list").className="active";
document.getElementById("adoptionperhousehold_list").className="active";
</script>               
                <div >
                        <div class="block-header">
                                <h2>ADOPTION PER HOUSEHOLD</h2>
                            </div>
                    <div class="card">
                        <div class="body">
                            <form action="/CVO_AdoptionPerHousehold" method="POST" id="form_adoptionperhousehold">
                                <div class="form-group form-float" >
                                    <label class="form-label">Number of Pet Adoption per Household</label>
                                    <div class="form-line" id="adoptionperhousehold_line">
                                        <input type="number" class="form-control" name="adoptionperhousehold" id="adoptionperhousehold" onkeypress="adoptionperhousehold_typing()" required="" aria-required="true" value=<%=adoption[0].int_NumberOfAdoption%>>
                                    </div>
                                    <label id="required-adoptionperhousehold" class="error" style="display:block;">This field is required.</label>
                                </div>
                                <br>
                                <center><button class="btn btn-primary waves-effect" type="button" onclick="validation()" >UPDATE</button>
                             </form>
                        </div>
                    </div>
                </div>
                

 <%- include('../../../templates/CVO-Footer-Location.ejs') -%>

 <script>
     document.getElementById('required-adoptionperhousehold').style.display='none';

     function adoptionperhousehold_typing(){
        $('#adoptionperhousehold_line').removeClass('error');
        $('required-adoptionperhousehold').style.display = 'none';
     }

     function validation(){
        var toSubmit=true;
        if(document.getElementById('adoptionperhousehold').value.trim()==""){
          toSubmit=false;
          $('#adoptionperhousehold_line').addClass("error");
          document.getElementById('required-adoptionperhousehold').style.display='block';
        }

        if(toSubmit==true){
          swal({
            title: "Are you sure you want to update adoption per household?",
            icon: "/images/alert_question.png",
            buttons: true,
          })
          .then((willDelete) => {
            if (willDelete) {
                  document.getElementById('form_adoptionperhousehold').submit();
            }
          });
        }
      }
 </script>

    