<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("complaints_list").className="active";


</script>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="block-header">
                            <h2>Stray Animal Complaints</h2>
                        </div>
                    <div class="card">
                     
                        <div class="body">
                          <a class="btn btn-primary btn-block">+ADD STRAY ANIMAL COMPLAINTS</a><br>
                              <table class="table table-bordered table-striped table-hover js-basic-example dataTable" height="340px">
                                                    <thead>
                                                   
                                                        <tr>
                                                            <th>Date & Time of Complaint</th>
                                                            <th>Statement</th>
                                                           <th>Barangay</th>
                                                           <th>Location Details</th>
                                                           <th>Complainant</th>
                                                           <th>Contact Number</th>
                                                           <th>Recommended Action</th>
                                                            <th >Action Taken</th>
                                                        </tr>
                                                    </thead>
                                               
                                                    <tbody>
                                                   
                                                        <tr>
                                                            <td></td>
                                                             <td></td>
                                                              <td></td>
                                                               <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                                  <td></td>
                                                     
                                                            <td >
                                                               
                                                            </td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                        </div>
                    </div>
                </div>
     



<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
