<div class="modal fade" id="edit" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header bg-blue">
            <h4 class="modal-title" id="defaultModalLabel">EDIT TRANSACTION REQUIREMENT</h4>
         </div>
         <div class="modal-body">
            <form id="form_requirements_update" method="POST" action="/CVO_Requirement/update">
               <input type="hidden" class="form-control" id="modal_ReqId" name="Req_Id" >
               <label class="form-label">Requirement Description</label>
               <div class="form-group form-float">
                  <div class="form-line" id="requirements_line_update">
                     <input type="text" class="form-control" id="modal_ReqDesc" name="Req_Desc" onkeyup="requirements_typing_update(this.value)" autocomplete="off">
                  </div>
                  <label id="required-requirements_update" class="error" style="display: none;">This field is required.</label>
                  <label id="exists-requirements_update" class="error" style="display: none;">Requirement Exists.</label>
               </div>
               <label class="form-label">Purpose</label>
               <div class="form-group form-float">
                  <div class="form-line" id="purpose_line_update">
                     <input type="text" class="form-control"  id="modal_ReqPurpose" name="Req_Purpose"  onkeyup="purpose_typing_update()" autocomplete="off" >
                  </div>
                  <label id="required-purpose_update" class="error" style="display: none;">This field is required.</label>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-link waves-effect" onclick="update_validation();">UPDATE</button>
            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
         </div>
      </div>
   </div>
</div>
<script>
function requirements_typing_update(i){

       $.ajax({
           type: 'POST',
           dataType: "json",
           data: {
               id: i,
               id2: $('#modal_ReqId').val()
           },
           url: '/checkRequirements/update',
           success: function(data) {
   
               if (data == 1) {
                   $('#requirements_line_update').addClass("error");
                   document.getElementById("exists-requirements_update").style.display = 'block';
             
               } else {
                   document.getElementById("exists-requirements_update").style.display = 'none';
               }
           }
       });
   
       if(document.getElementById('modal_ReqDesc').value.trim()==""){
           $("#requirements_line_update").addClass("error");
           document.getElementById("required-requirements_update").style.display='block';
       }
       else{
           $("#requirements_line_update").removeClass("error")
           document.getElementById("required-requirements_update").style.display = 'none';
       }
   }
   
   function purpose_typing_update(){
       if(document.getElementById('req_purpose_update').value.trim()==""){
           $("#purpose_line_update").addClass("error");
           document.getElementById("required-purpose_update").style.display='block';
       }
       else{
       $("#purpose_line_update").removeClass("error")
       document.getElementById("required-purpose_update").style.display = 'none';
   }
   }
   function update_validation(){
     $.ajax({
           type: 'POST',
           dataType: "json",
           data: {
               id: $('#modal_ReqDesc').val(),
               id2: $('#modal_ReqId').val()
           },
           url: '/checkRequirements/update',
           success: function(data) {
   
               if (data == 1) {
                   $('#requirements_line_update').addClass("error");
                   document.getElementById("exists-requirements_update").style.display = 'block';
             
               } else {
                 if(document.getElementById('modal_ReqDesc').value.trim()==""){
           $("#requirements_line_update").addClass("error");
           document.getElementById("required-requirements_update").style.display='block';
       }
       else{
        document.getElementById('form_requirements_update').submit();
       }
                    
               }
           }
       });
     
   }
</script>