<html>
   <head>
      <meta charset="UTF-8">
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <title>City Veterinary Office</title>
      <link rel="icon" href="favicon.ico" type="image/x-icon">
      <link href="/material-design-icons/iconfont/material-icons.css" rel="stylesheet" type="text/css">
      <link href="/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="/css/style.css" rel="stylesheet">
      <script src="/sweetalert/dist/sweetalert.min.js"></script>
      <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
      <link href="css/themes/all-themes.css" rel="stylesheet" />
      <style>
         body {
         font-family: "Trebuchet MS";
         }
         tr {
         font-size: 15px;
         }
      </style>
   </head>
   <body style="background: gray">
      <div class="col-sm-2"></div>

      <div id="toPrint" class="col-sm-4" style="background: white">
      <br><br>
         <center>
            <img src="/images/pdfHeader.jpg" width="70%" >
            <h3>Pre-registration summary</h3>
         </center>
         <br><br>
         <h4>Personal Information</h4>
         <hr>
         <center>
            <table border="1px" width="90%" >
               <tr >
                  <th>Pet Owner Name</th>
                  <td>Cortez, Gilbert Critica</td>
               </tr>
               <tr >
                  <th>Complete Address</th>
                  <td>1605 Sta. Rosa 1, Marilao, Bulacan</td>
               </tr>
               <tr >
                  <th>Start Year of Stay</th>
                  <td>2018</td>
               </tr>
            </table>
         </center>
         <br><br>
         <h4>Contact Details</h4>
         <hr>
         <center>
            <table border="1px" width="90%" >
               <tr >
                  <th>Cellphone Number</th>
                  <td>09239611438</td>
               </tr>
               <tr >
                  <th>Email Address</th>
                  <td>gilbert230709@gmail.com</td>
               </tr>
            </table>
         </center>
         <br><br>
         <h4>Registration Details</h4>
         <hr>
         <center>
            <table border="1px" width="90%" >
               <tr >
                  <th>Scheduled Date and Time of Registration Appointment</th>
                  <td>10/07/2018 6:10 PM</td>
               </tr>
            </table>
         </center>
         <br><br><br>
         <p>The undersigned hereby certify that the above information is true and correct to be the best of his/her knowledge and belief.</p>
         <br><br>
         <div align="right">
            GILBERT CRITICA CORTEZ<br>
            <i>Registrant</i>
         </div>
      </div>
      </div>
      </section>
      <script type="text/javascript" src="/jsPDF/dist/jspdf.debug.js"></script>
      <script type="text/javascript" src="/html2canvas.js"></script>
      <script type="text/javascript" src="/jsPDF/examples/js/basic.js"></script>
      <script>
         var doc = new jsPDF();
       
         html2canvas(document.getElementById('toPrint')).then(function(canvas) {
               doc.addImage(canvas, 5,1);
               doc.save("Pet_Owner_Pre-registration_Summary.pdf")
         });
         window
      </script>
   </body>
</html>