<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header bg-blue">
                            <h2>ADD NEW FREQUENTLY ASKED QUESTION/h2>
                        </div>
                        <div class="body">
                            <form id="form_colorpattern" method="POST" novalidate="novalidate">
								<label class="form-label">Question</label>
                                <div class="form-group form-float">
                                    <div class="form-line" id="colorpattern_line">
                                        <input type="text" class="form-control" name="name" id="name">
                                    </div>
                                    
                                </div>
                                <label class="form-label">Answer</label>
                                <div class="form-group form-float">
                                    <div class="form-line" id="colorpattern_line">
                                        <input type="text" class="form-control" name="name" id="name">
                                    </div>
                                    
                                </div>
                                <br>
                                <center><button class="btn btn-primary waves-effect" type="button" >ADD</button></center>
                            </form>
                        </div>
                    </div>
                </div>
			