<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header bg-blue">
                            <h2>ADD NEW FREQUENTLY ASKED QUESTION</h2>
                        </div>
                        <div class="body">
                            <form id="form_faq" method="POST" action="/CVO_FAQs">
								<label class="form-label">Question</label>
                                <div class="form-group form-float">
                                    <div class="form-line" id="question_line">
                                        <input type="text" class="form-control" name="question" id="question" onkeypress="question_typing()">
                                    </div>
                                    <label id="required-question" class="error" style="display: block;">This field is required.</label>
                                </div>
                                <label class="form-label">Answer</label>
                                <div class="form-group form-float">
                                    <div class="form-line" id="answer_line">
                                        <input type="text" class="form-control" name="answer" id="answer" onkeypress="answer_typing()">
                                    </div>
                                    <label id="required-answer" class="error" style="display: block;">This field is required.</label>
                                </div>
                                <br>
                                <center><button class="btn btn-primary waves-effect" type="button" onclick="validation()" >ADD</button></center>
                            </form>
                        </div>
                    </div>
                </div>

                <script>
                document.getElementById('required-question').style.display="none";
                document.getElementById('required-answer').style.display="none";

                function question_typing(){
                    $('#question_line').removeClass("error");
                    document.getElementById('required-question').style.display="none";
                }

                function answer_typing(){
                    $('#answer_line').removeClass("error");
                    document.getElementById('required-answer').style.display="none";
                }

                function validation(){
                    var toSubmit=true;
                    if(document.getElementById('question').value.trim()==""){
                        toSubmit=false;
                        $('#question_line').addClass("error");
                        document.getElementById('required-question').style.display='block';
                    }

                    if(document.getElementById('answer').value.trim()==""){
                        toSubmit=false;
                        $('#answer_line').addClass("error");
                        document.getElementById('required-answer').style.display='block';
                    }

                    if(toSubmit==true){
                        swal({
                        title: "Are you sure you want to add new Frequently Asked Question?",
                        icon: "/images/alert_question.png",
                        buttons: true,
                        })
                        .then((willDelete) => {
                        if (willDelete) {
                                document.getElementById('form_faq').submit();
                        }
                        });
                    }
                 }
                </script>



			