<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
    document.getElementById("impounding_list").className="active";
    document.getElementById("animalreleasing").className="active";
    document.getElementById("transaction_list").className="active";
</script>


<div class="block-header">
<h2>ANIMAL RELEASING</h2>
</div>


        <div class="card">
           
            <div class="body" >
                        
                         <!-- Nav tabs -->
               <ul class="nav nav-tabs tab-nav-right" role="tablist" >
               
                  <li role="presentation" class="active"><a href="#home_animation_5" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>REDEMPTION</a></li>
                  <li role="presentation" class=""><a href="#home_animation_6" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>ADOPTION</a></li>
                  <li role="presentation" class=""><a href="#home_animation_7" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>ANIMAL TURNOVER</a></li>
               </ul>
               <!-- Tab panes -->
               <div class="tab-content">
                  
                  <div role="tabpanel" class="tab-pane animated fadeIn  active" id="home_animation_5">
                    <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" style="min-height: 300px">
                                                    <thead>
                                                   
                                                        <tr>
                                                            <th>Impounding Site</th>
                                                            <th>Cage Number</th>
                                                           <th>Species</th>
                                                           <th>Breed</th>
                                                           <th>Color Pattern</th>
                                                           <th>Sex</th>
                                                           <th>Picture</th>
                                                            <th >Action</th>
                                                        </tr>
                                                    </thead>
                                               
                                                    <tbody>
                                                    <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><center><a class="btn btn-primary"><i class="material-icons">photo</i></a></center></td>
                                                    <td><center><a class="btn btn-primary "><i class="material-icons">reply</i>RELEASE</a></center></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                        
                </div>
                  </div>
                  <div role="tabpanel" class="tab-pane animated fadeIn  " id="home_animation_6">
                   <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" style="min-height: 300px">
                                                    <thead>
                                                   
                                                        <tr>
                                                            <th>Impounding Site</th>
                                                            <th>Cage Number</th>
                                                           <th>Species</th>
                                                           <th>Breed</th>
                                                           <th>Color Pattern</th>
                                                           <th>Sex</th>
                                                           <th>Picture</th>
                                                            <th >Action</th>
                                                        </tr>
                                                    </thead>
                                               
                                                    <tbody>
                                                    <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><center><a class="btn btn-primary"><i class="material-icons">photo</i></a></center></td>
                                                    <td><center><a class="btn btn-primary "><i class="material-icons">reply</i>ASSESS</a></center></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                        
                </div>
                  </div>
                  <div role="tabpanel" class="tab-pane animated fadeIn  " id="home_animation_7">
                    <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" style="min-height: 300px">
                                                    <thead>
                                                   
                                                        <tr>
                                                            <th>Batch ID</th>
                                                            <th>Date Of Pickup</th>
                                                           <th>Organization Name</th>
                                                            <th >Action</th>
                                                        </tr>
                                                    </thead>
                                               
                                                    <tbody>
                                                    <tr>
                                                    
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><center><a class="btn btn-primary "><i class="material-icons">reply</i>RELEASE</a></center></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                        
                </div>
                  </div>
               </div>
                        
                      
                           
            </div>
        </div>




 

   

<%- include('../../../templates/CVO-Footer-Location.ejs') -%>