<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
    document.getElementById("impounding_list").className="active";
    document.getElementById("apprehension").className="active";
    document.getElementById("transaction_list").className="active";

</script>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
             <div class="header  bg-blue">
                        
                            <h2>ADD LIST OF APPREHENDED ANIMAL</h2>
                          
                        </div>
            <div class="body">
            <form id="form_validation" method="POST" novalidate="novalidate">
                        <label class="form-label">Animal Alias</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="name" required="" aria-required="true">
                                    </div>
                                </div>
                                 <label class="form-label">Animal Picture</label>
                          
                                        <input type="file" class="form-control" name="name" required="" aria-required="true">
                                   <br><br>
                                <label class="form-label">Animal Breed</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select class="form-control show-tick" data-live-search="true">
                                         <option>select</option>
                                        <option>Breed#1</option>
                                        <option>Breed#2</option>
                                        <option>Breed#3</option>
                                        <option>Breed#4</option>
                                        <option>Breed#5</option>
                                        
                                     
                                    </select>
                                    </div>
                                </div>
                                        <label class="form-label">Animal Species</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select class="form-control show-tick" data-live-search="true">
                                         <option>select</option>
                                        <option>Dog</option>
                                         <option>Cat</option>
                                        
                                     
                                    </select>
                                    </div>
                                </div>
                                        <label class="form-label">Sex</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select class="form-control show-tick" data-live-search="true">
                                         <option>select</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        
                                     
                                    </select>
                                    </div>
                                </div>
                                        <label class="form-label">Color Pattern</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select class="form-control show-tick" data-live-search="true">
                                         <option>select</option>
                                        <option>Color Pattern#1</option>
                                        <option>Color Pattern#2</option>
                                        <option>Color Pattern#3</option>
                                        <option>Color Pattern#4</option>
                                        <option>Color Pattern#5</option>
                                        
                                     
                                    </select>
                                    </div>
                                </div>
                                        <label class="form-label">Barangay</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select class="form-control show-tick" data-live-search="true">
                                         <option>select</option>
                                        <option>Barangay#1</option>
                                        <option>Barangay#2</option>
                                        <option>Barangay#3</option>
                                        <option>Barangay#4</option>
                                        <option>Barangay#5</option>
                                        
                                     
                                    </select>
                                       </div>
                                </div>
                                        <br>
                                
                              
                                <center><a type="button" href="/CVO_ApprehendedAnimal" class="btn btn-primary waves-effect" >ADD ANOTHER</a>&nbsp;<a type="button" href="/CVO_CageAssignments" class="btn btn-primary waves-effect" >CAGE ASSIGNMENTS</a>&nbsp;<a type="button" href="/CVO_Apprehension" class="btn btn-primary waves-effect" >DONE</a></center>
                                </form>
                     
                   
            </div>
        </div>
    </div>



<%- include('../../../templates/CVO-Footer-Location.ejs') -%>