<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
    document.getElementById("impounding_list").className="active";
    document.getElementById("apprehension").className="active";
    document.getElementById("transaction_list").className="active";
</script>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header  bg-blue">     
                <h2>APPREHENSION</h2>      
            </div>
            <div class="body">
         
                        

                         <button type="button" class="btn btn-block btn-lg btn-primary waves-effect" data-toggle="modal" data-target="#orderofapprehension" >APPREHENSION ORDER OF THE DAY</button><br><br>
                             <div>
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Apprehension Date</th>
                                                           
                                                            <th >Action</th>
                                                        </tr>
                                                    </thead>
                                                 <!--   <tfoot>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Description</th>
                                                            <th>Price</th>
                                                        </tr> 
                                                    </tfoot> -->
                                                    <tbody>
                        
                                                        <tr>
                                                            <td>1</td>
                                                            <td>01/23/2018</td>
                                                         
                                                            <td >
                                                                <div class="row"align="center">
                                                                    <a data-toggle="modal" data-target="#orderofapprehension"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="View">
                                                                            <i class="material-icons">remove_red_eye</i>
                                                                    </button></a>
                                                                   
                                                                    <a href="/CVO_ApprehendedAnimal"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Add List of Apprehended Animal ">
                                                                             <i class="material-icons">add</i><i class="material-icons">list</i>
                                                                    </button>
                                                                    </a>
                                                                          <a href="/CVO_CageAssignments"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Cage Assignments ">
                                                                             <i class="material-icons">apps</i>
                                                                           
                                                                    </button>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                             
                                                    </tbody>
                                                </table>
                                        
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="orderofapprehension" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">APPREHENSION ORDER</h4>
                        </div>
                        <div class="modal-body">

   <div class="card" align="center">
                         <div class="body">
                          <table style="padding:5px;">
                                <tr>
                                <td><strong>APPREHENSION ID:</strong></td>
                                <td>#1</td>
                              </tr>
                                <tr>
                                <td><strong>APPREHENSION DATE:</strong></td>
                                <td>01/23/2018</td>
                                </tr>
                          
                                <tr>
                                <td><strong>INVOLVED BARANGAY:</strong></td>
                                <td>Concepcion & Sto. Nino</td>
                                </tr>
                               
                              </table>
                               </div>
                                </div>
                                <center>
                                <a  onclick="window.frames['pact'].print();" ><button class="btn btn-primary waves-effect" type="button" >PRINT</button></a>&nbsp;
                                 <a  href="ORDEROFAPPREHENSION.pdf"><button class="btn btn-primary waves-effect" type="button" >DOWNLOAD</button></a>
                                
                                <iframe name="pact" src="ORDEROFAPPREHENSION.pdf" width="0" height="0" frameborder="0"></iframe>
                                </center>
                       </div>
                        <div class="modal-footer">
                            
                            <a type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>

   

<%- include('../../../templates/CVO-Footer-Location.ejs') -%>