<div class="modal fade" id="cageInfo" tabindex="-1" role="dialog" >
   <div class="modal-dialog" role="document" style="width:90%;">
      <div class="modal-content" >
         <div class="modal-header bg-blue">
            <h4 class="modal-title" id="CageNumberLabel"></h4>
         </div>
         <div class="modal-body" style="min-height:550px;">
            <div class="col-sm-6">
             <div class="block-header">
               <h2>CAGE INFORMATION</h2>
            </div>
               <div class="bg-blue" style="min-height:30%;overflow-x: auto;padding:5px;max-height:30%" id="divCage">
                  <div class="col-sm-2"><i class="material-icons" style="font-size:100px">grid_on</i></div> 
                  <div class="col-sm-10" ><br><br><h3 style="float:left">CAGE INFORMATION</h3></div>

                 
               </div>
            <div class="block-header">
               <h2>ANIMALS</h2>
            </div>
               <div class="bg-blue" style="min-height:35%;overflow-x: auto;padding:5px;max-height:35%" id="divAnimals">
                  
                 
               </div>
            </div>
            <div class="col-sm-6">
            <div class="block-header">
               <h2>ANIMAL INFORMATION</h2>
            </div>
               <!-- <iframe src="/CVO_Dashboard" width="100%" height="100%" frameBorder="0"></iframe> -->
                <div class="bg-blue" style="min-height:70%;overflow-x: auto;padding:5px;max-height:70%" id="divAnimalInfo">
                  
                        </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
         </div>
      </div>
   </div>
</div>
<script >
  function MMMMDDYYYY(i){
 
                         var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                         var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                         var now = new Date(i);
                         return months[now.getMonth()] + ' ' + now.getDate() + ', ' + now.getFullYear();
                        
                       }

</script>
<script > 
   function iterateCage(x,y){

       document.getElementById('CageNumberLabel').innerHTML="CAGE NUMBER "+y;
         $.post("/CVO_Impounding/Cages/getAnimals",{id: x},function(data, status){
           $('#divAnimalInfo').empty();
             $('#divAnimalInfo').append(`<br><br><br><br><br><br><h2><center><i>Please select animal to view this section.</i></center></h2>`);
            $('#divAnimals').empty();
            if(data.length==0){
              $('#divAnimals').append(`<br><br><br><br><h2><center><i>There's no animal on this cage.</i></center></h2>`);;
            }
            else{
            data.forEach(function(i){
              $('#divAnimals').append(` <button type="button" class="btn btn-block btn-default waves-effect" style="max-height:100px" onclick="iterateAnimalInfo(`+i.int_AnimalId+`,`+i.int_AnimalStatus+`);">
                     <div class="media">
                        <div class="media-left">
                           <a href="javascript:void(0);">
                           <img class="media-object" src="/Animals/`+i.str_AnimalPicturePath+`" width="90px" height="90px">
                           </a>
                        </div>
                        <div class="media-body">
                          <table style="width: 100%;color:grey;">
                                        <tr>
                                            <th>ANIMAL ID</th>
                                            <td>`+i.int_AnimalId+`</td>
                                            <th></th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>SEX</th>
                                            <td>`+(i.int_Sex==0? "Male": "Female")+`</td>
                                            <th>ANIMAL SPECIES</th>
                                            <td>`+(i.int_AnimalSpecies==0? "Dog": "Cat")+ `</td>
                                        </tr>
                                        <tr>
                                            <th>BREED</th>
                                            <td>`+i.str_BreedName+`</td>
                                            <th>COLOR PATTERN</th>
                                            <td>`+i.str_Description+`</td>
                                        </tr>
                                      
                                    </table>
                        </div>
                     </div>
                  </button>
            `)
            });
          }
            $('#cageInfo').modal('toggle');     
          });
       
   }
   function iterateAnimalInfo(x,y){
    var kindOfAnimal=""
      if(y==5){
        kindOfAnimal="/CVO_Impounding/Cages/getSurrenderedAnimalDetails";
      }
      else if(y==1){
        kindOfAnimal="/CVO_Impounding/Cages/getApprehendedAnimalDetails";
      }

      var medicationTable="";
      $.post("/CVO_Impounding/Cages/getAnimalMedical",{id:x},function(med){
              med.forEach(function(i,ctr){
                   medicationTable+=`<tr><td>`+(ctr+1)+`</td><td>`+i.str_Description+`</td><td>`+(MMMMDDYYYY(i.dtm_DateTimeOfOccurence))+`</td><td>`+(i.str_LastName+", "+i.str_FirstName+" "+i.str_MiddleName)+`</td></tr>`;
              });

          });
      $.post(kindOfAnimal,{id:x},function(data){
         var lodgingHistoryTable="";
       
         data.forEach(function(i,ctr){

             lodgingHistoryTable+=`<tr><th scope="row">`+(ctr+1)+`</th><td>`+MMMMDDYYYY(data[0].dtm_DateTimeOfOccurence)+`</td><td><center>`+i.str_Remarks+`</center></td></tr>`;
         })

          
         $('#divAnimalInfo').empty();
         $('#divAnimalInfo').append(`
                <div class="col-sm-4" align="center"><br>
                            <img style="border:4px;border-style:solid;border-color:white " id="blah " src="/Animals/`+data[0].str_AnimalPicturePath+`" width="170px" height="170px" /><hr>
                            <a class='btn btn-default btn-block waves-effect' onclick="cageAction(`+data[0].int_AnimalId+`,`+data[0].int_AnimalStatus+`);"><i class="material-icons">accessibility</i>ACTION</a>
                        </div>
                        <div class="col-sm-8" align="center">
                           <br><br>
                               <table style="width: 100%;color:white;">
                                        <tr>
                                            <th>ANIMAL ID</th>
                                            <td>`+data[0].int_AnimalId+`</td>
                                        </tr>
                                        <tr>
                                            <th>ALIAS/PET NAME</th>
                                            <td>`+data[0].str_Alias+`</td>
                                        </tr>
                                        <tr>
                                            <th>PET TAG</th>
                                            <td>`+(data[0].str_PetTagNo!=""? data[0].str_PetTagNo : "none")+`</td>
                                        </tr>
                                       <tr>
                                            <th>ANIMAL SPECIES</th>
                                            <td>`+(data[0].int_AnimalSpecies==0? "Dog": "Cat")+`</td>
                                        </tr>
                                        <tr>
                                            <th>BREED</th>
                                            <td>`+data[0].str_BreedName+`</td>
                                        </tr>
                                       <tr>

                                            <th>SEX</th>
                                            <td>`+(data[0].int_Sex==0? "Male": "Female")+`</td>
                                        </tr>
                                        <tr>
                                            <th>COLOR PATTERN</th>
                                            <td>`+data[0].str_Description+`</td>
                                        </tr>
                                      
                                    </table>

                        </div>
                        <div class="col-sm-12"><br></div>
                        <div class="col-sm-12 bg-white" style="height:210px">
                                    <!-- Nav tabs -->
                                   
                                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                        <li role="presentation" class="active"><a href="#home_animation_1" data-toggle="tab"><i class="material-icons">grid_on</i>IMPOUNDING HISTORY</a></li>
                                        <li role="presentation"><a href="#profile_animation_1" data-toggle="tab"><i class="material-icons">local_hospital</i>MEDICAL HISTORY</a></li>
                                
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="home_animation_1">
                                            <div style="max-height:130px;overflow:auto">
                                             <div class="body table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        
                                        <th>Date Occured</th>
                                       
                                        <th>Lodging Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   `+lodgingHistoryTable+`
                                    
                                </tbody>
                            </table>
                        </div>
                                       </div>
                                           
                                        </div>
                                        <div role="tabpanel" class="tab-pane animated fadeIn" id="profile_animation_1">
                                            <div style="max-height:130px;overflow:auto">
                                             <div class="body table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Medication Description</th>
                                        <th>Date Occured</th>
                                        <th>Employee Involved</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    `+medicationTable+`
                                    
                                </tbody>
                            </table>
                        </div>
                                       </div>
                                        </div>
                                       
                                    </div>
                                </div>
            `)
      });
   }
   function cageAction(x,y){

         swal("What Action to take?", {
   buttons: {
    
    transfer: "TRANSFER CAGE",
    medical: "MEDICATION",
    euthanize: "EUTHANIZE",
     deceased: "DECEASED",
    cancel: "CANCEL"
   },
   icon: "info"
   })
   .then((value) => {
   switch (value) {
   
    case "transfer":
         transferCage(x,y);
      break;
   
    case "medical":
 
      medication(x,y);
      break;
      
   case "euthanize":
      euthanasia(x,y);
      break;

       case "deceased":
      alert("NOT YET WORKING");
      break;
    
   }
   });
   }
</script>
<%- include('./transferCage.ejs') -%>
<%- include('./medication.ejs') -%>
<%- include('./euthanasia.ejs') -%>