 <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Pet ID</th>
                                                            <th>Pet Name</th>
                                                            <th>Breed</th>
                                                            <th>Pet Owner Name</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                 <!--   <tfoot>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Description</th>
                                                            <th>Price</th>
                                                        </tr> 
                                                    </tfoot> -->
                                                    <tbody>
                        
                                                        <tr>
                                                            <td>1</td>
                                                            <td>MingMing</td>
                                                            <td>Pusakal</td>
                                                            <td>Mary Justine Espin</td>
                                                            <td>
                                                                <div align="center">
                                                                
                                                                    <a data-toggle="modal" data-target="#recording"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Record Vaccination">
                                                                            <i class="material-icons">add</i>Conduct
                                                                    </button>
                                                                   </a>
                                                                   <a data-toggle="modal" data-target="#schedule"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Schedule Vaccination">
                                                                            <i class="material-icons">add</i>Schedule
                                                                    </button>
                                                                   </a>
                                                                   <a data-toggle="modal" data-target="#recording"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Record Vaccination">
                                                                            <i class="material-icons">add</i>Record
                                                                    </button>
                                                                   </a>
                                                                    
                                                                </div>
                                                            </td>
                                                        </tr>
                                             
                                                    </tbody>
                                                </table>
                                            </div>