<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign In</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="../../css/style.css" rel="stylesheet">
</head>

<body class="login-page bg-blue">
    <div class="login-box">
        <div class="logo">
            <img src="../../images/image-gallery/CVO_LogoWhite.png" width="100%"/>
        </div>
        <div class="card">
            <div class="body">
                <form action="/CVO_Login/login" method="POST" id="loginform">
                    <div class="msg">Employee Login</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="email" id="email" placeholder="Email Address" value="" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" value="" required>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <a class="btn btn-block bg-blue waves-effect" onclick="document.getElementById('loginform').submit();">LOGIN</a>
                        </div>
                    </div>
                 
                </form>
            </div>
        </div>
    </div>

 <div class="row" style="width:600px">
    <a class="btn btn-default  waves-effect" onclick="$('#email').val('officestaff@gmail.com');$('#password').val('officestaff');"> Staff</a>
    <a class="btn btn-default  waves-effect" onclick="$('#email').val('apprehensionteamleader@gmail.com');$('#password').val('apprehensionteamleader');">AppLeader</a>
    <a class="btn btn-default  waves-effect" onclick="$('#email').val('caretaker@gmail.com');$('#password').val('caretaker');">Caretaker</a>
    <a class="btn btn-default  waves-effect" onclick="$('#email').val('secretary@gmail.com');$('#password').val('secretary');">Secretary</a>
    <a class="btn btn-default  waves-effect" onclick="$('#email').val('management@gmail.com');$('#password').val('management');">Management</a>
    </div>
    <!-- Jquery Core Js -->
    <script src="../../plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="../../plugins/jquery-validation/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="../../js/admin.js"></script>
    <script src="../../js/pages/examples/sign-in.js"></script>
</body>

</html>