<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
   document.getElementById("record_list").className="active";
   document.getElementById("transaction_list").className="active";
</script>

<section >
<div class="block-header">
<h2>TRANSACTION CLOSING</h2>
</div>
 <div class="card" style="min-height:580px">
            <div class="body">
            <h4>1. Produce the following documents:</h4><br>
            
            <center>
             <table class="table table-striped table-bordered" style="max-width:800px">
               <tr>
                  <th>#</th>
                  <th>Document</th>
                  <th>Action <button class="btn btn-primary " onclick='downloadall()' style="float:right" ><i class="material-icons">move_to_inbox</i>DOWNLOAD ALL(NOT YET WORKING)</button></th>
               </tr>
            <tr>
                  <td><strong>1</strong></td>
                  <td>Order Of Release For Redemption</td>
                  <td><center><button class="btn btn-gray" onclick='printCertPO()' ><i class="material-icons">print</i>PRINT</button>&nbsp;&nbsp;<button  class="btn btn-gray" onclick='downloadCertPO()'><i class="material-icons">move_to_inbox</i>DOWNLOAD(NOT YET WORKING)</button></center></td>
               </tr>

            </table>
                </center><br>

                <h4>2. Certify each document with the Official Dry Seal or Official Stamp and Signature of City Veterinary Office Employee.</h4><br>
            
             

            </table>
                </center><br>
                <h4>3. Release the following document/s to the Pet Owner:</h4>
                <center><br>
             <table class="table table-striped table-bordered" style="max-width:800px">
               <tr>
                  <th>#</th>
                  <th>Document</th>

               </tr>
             
               <tr>
                  <td><strong>1</strong></td>
                  <td>Order Of Release For Redemption</td>
            
               </tr>
              
               <tr>
                  <td><strong>2</strong></td>
                  <td>Official Receipt</td>
            
               </tr>
             
            </table>
                </center>
            </div>
            <center><button class="btn btn-lg btn-primary">DONE</button></center><br><br>
            </div>
</section>


<form action="/CVO_RecordCollection/OrderOfReleaseR1/print" id="certpoprint" method="post" target="my_iframe">
  <input type="hidden" name="redemptionTransactionId" value='<%= redemptionTransactionId %>'/>
</form>

<form action="/CVO_RecordCollection/Certpo/download" id="certpodownload" method="post" target="my_iframe">
  <input type="hidden" name="petOwnerId" value='<%=  %>'/>
</form>


<iframe name="my_iframe" id="my_iframe"  width="112%"  frameborder="0" style="display:none" ></iframe>
<script>
function printCertPO(){
  
     document.getElementById('my_iframe').style.display="block"
    document.getElementById('certpoprint').submit(); 
   setTimeout( function(){ document.getElementById('my_iframe').style.display="none"; }, 500)

}
function downloadCertPO(){

 document.getElementById('my_iframe').style.display="block"
    document.getElementById('certpodownload').submit(); 
   
   setTimeout( function(){ document.getElementById('my_iframe').style.display="none"; }, 500)
}
function downloadall(){
swal({
                        title: 'Downloading All Documents.',
                        text: ' This will just take few seconds. ',
                        icon: 'info',
                        button: false,
                        closeOnClickOutside: false,
                        }) 
downloadCertP(); 
     setTimeout( function(){ downloadCertV(); swal({
                        title: 'Successful.',
                        text: ' Documents are downloaded. ',
                        icon: 'success',
                        button: true,
                        closeOnClickOutside: false,
                        })  }, 2000)

}
</script>
<%- include('../../../templates/CVO-Footer-Location.ejs') -%>