<div class="body">
                                         <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Payment ID</th>
                                                            <th>Payor Name</th>
                                                            <th>Nature of Collection</th>
                                                            <th>Amount</th>
															<th>Action</th>
                                                        </tr>
                                                    </thead>
                                                 <!--   <tfoot>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Description</th>
                                                            <th>Price</th>
                                                        </tr> 
                                                    </tfoot> -->
                                                    <tbody>
                        
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Mary Justine Espin</td>
															<td>Registration & Vaccination</td>
															<td>350</td>
                                                            <td>
                                                                <div align="center">
                                                                   
                                                                   
                                                                   
                                                                     <a data-toggle="modal" data-target="#RecordCollection"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Record Collection">
                                                                            <i class="material-icons">add</i> RECORD COLLECTION
                                                                           
                                                                    </button>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                             
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                         