<div class="modal fade" id="add" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header bg-blue">
            <h4 class="modal-title" id="defaultModalLabel">ADD NEW LOCATION(BARANGAY)</h4>
         </div>
         <div class="modal-body">
            <form id="form_location_add" method="POST"  action="/CVO_Location/add">
               <label class="form-label">Barangay Name</label>
               <div class="form-group form-float">
                  <div class="form-line"  id="location_line">
                     <input type="text" class="form-control" name="BarangayName" id="BarangayName" onkeyup="typing_location(this.value)" autocomplete="off">
                  </div>
                  <label id="required-location" class="error" style="display: none;">This field is required.</label>
                  <label id="exist-location" class="error" style="display: none;">Location Exists.</label>
               </div>
               <input type="text" class="form-control" name="Resettlement" id="Resettlement" required="" aria-required="true" value=0>
               <label class="form-label">Resettlement Area?</label>
               <div class="switch">
                  <label><input type="checkbox" unchecked onChange="statIndicate(); "><span class="lever switch-col-blue"></span></label>
                  <span id="StatusIndication">No</span>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-link waves-effect" onclick="add_validation()" >ADD</button>
            <button type="button" class="btn btn-link waves-effect" onclick="">CLOSE</button>
         </div>
      </div>
   </div>
</div>
<script>
    function add_validation() {
     document.getElementById('form_location_add').submit();
 }

 function typing_location(x) {
     $.ajax({
         type: 'POST',
         dataType: "json",
         data: {
             id: x
         },
         url: '/checkLocation/add',
         success: function(data) {
             if (data == 1) {
                 $('#location_line').addClass("error");
                 document.getElementById("exist-location").style.display = 'block';
             } else {
                 document.getElementById("exist-location").style.display = 'none';
             }
         }
     });
    if (document.getElementById('BarangayName').value.trim() == "") {
         $('#location_line').addClass("error");
         document.getElementById("required-location").style.display = 'block';
     } 
     else {
         $('#location_line').removeClass("error");
         document.getElementById("required-location").style.display = 'none';
     }
 } 
 </script>
 <script >
     function statIndicate() {
         if (document.getElementById('StatusIndication').innerHTML == 'Yes') {
             document.getElementById('StatusIndication').innerHTML = 'No';
             document.getElementById('Resettlement').value = 0;
         } else {
             document.getElementById('StatusIndication').innerHTML = 'Yes';
             document.getElementById('Resettlement').value = 1;
         }
     }
</script>