<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>

document.getElementById("utilities_list").className="active";
document.getElementById("vaccinationperday_list").className="active";

</script>
               
                <div >
                        <div class="block-header">
                                <h2>VACCINATION PER DAY</h2>
                            </div>
                    <div class="card">
                        <div class="body">
                                <form method="POST" action="/CVO_VaccinationPerDay" id="form_vaccinationperday">
                                <div class="form-group form-float" >
                                    <label class="form-label">Number of Vaccination per Day</label>
                                    <div class="form-group form-float">
                                    <div class="form-line" id="line_vaccinationperday">
                                        <input type="number" id="vaccination_number" class="form-control" name="vaccination_number" required="" aria-required="true" onkeypress="updateVaccineTyping()" value=<%=results[0].int_NumberOfVaccination%>>
                                    </div>
                                    <label id="required-vaccinationperday" class="error" style="display: block;">This field is required.</label>
                                 </div>
                                </div>
                                <br>
                                <center><button class="btn btn-primary waves-effect" type="button" onclick="validation()">UPDATE</button> 
                                </form>
                        </div>
                    </div>
                </div>

<%- include('../../../templates/CVO-Footer-Location.ejs') -%>

<script>

document.getElementById('required-vaccinationperday').style.display='none';


function updateVaccineTyping(){
    $('#line_vaccinationperday').removeClass("error");
    document.getElementById('required-vaccinationperday').style.display='none';
}


function validation(){
   var toSubmit = true;
  if(document.getElementById('vaccination_number').value.trim()==""){
    toSubmit = false;
    $('#line_vaccinationperday').addClass("error");
    document.getElementById('required-vaccinationperday').style.display='block';
  }

  if(toSubmit == true){
    swal({
      title: "Are you sure you want to update number of vaccination per day?",
      icon: "/images/alert_question.png",
      buttons:true,
    })
    .then((willDelete) => {
      if (willDelete) {
            document.getElementById('form_vaccinationperday').submit();
      }
    });
  }
}
</script>

    