<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>

document.getElementById("vaccination_list").className="active";
document.getElementById("transaction_list").className="active";


</script>


    <section >

            <div class="row clearfix">
                <div >

                    <div class="card">
                        <div class="header  bg-blue">
                            <h2>Record Vaccination</h2>
                        </div>
                        <div class="body">


                            <form id="vaccinationRecordingForm" method="POST"  action="/CVO_VaccinationRecording">


                                <label class="form-label">Vaccine</label>
                             	  <select class="form-control show-tick" id="vaccine" name="vaccine" data-live-search="true" onchange="getVaccineDetails();">
                                        <option>select</option>
                                        <% va.forEach(function(i){ %>
                                        <option value='<%= i.int_VaccineId %>' ><%= i.str_VaccineName %></option>
                                        <% }); %>
                                </select><br><br>

                                <label class="form-label">Vaccine Classification</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="VaccineClassification" disabled>
                                    </div>
                                </div>

                                <label class="form-label">Vaccine Manufacturer</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" id="VaccineManufacturer" disabled>
                                    </div>
                                </div>

                                <label class="form-label">Vaccine Lot Number</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="lotNumber" >
                                    </div>
                                </div>

                                <label class="form-label">Vaccination Date</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="date" class="form-control" name="vaccinationDate" >
                                    </div>
                                </div>
                                <br>

                                <center>
                                <a onclick="submitVaccinationRecordingForm();"><button class="btn btn-primary waves-effect" type="button">RECORD</button></a>&nbsp;
                                <a href="/CVO_Vaccination"><button class="btn btn-primary waves-effect" type="button">BACK</button></a></center>
                                 </form>
                        </div>
                    </div>
                </div>
            </div>
            

    </section>

      <script src="jsPDF/dist/jspdf.min.js"></script>
      <script>
      //Generate a Vaccination Certificate here
      </script>

      <script>
        function submitVaccinationRecordingForm(){
            document.getElementById('vaccinationRecordingForm').submit();
          swal("Confirmation Alert Here!");
        }
      </script>

      <script>
        function getVaccineDetails(){
            $.ajax({
                type: 'POST',
                dataType: "json",
                data: { id: document.getElementById('vaccine').value },
                url: '/CVO_VaccinationRecording/getVaccineDetails',
                success: function(data) {

                        if(data[0].int_VaccineClassification==0){
                            $('#VaccineClassification').val("Government");
                        }
                        else{
                            $('#VaccineClassification').val("Private");
                        }

                        $('#VaccineManufacturer').val(data[0].str_Manufacturer);

                }
            });
        }
      </script>

 <%- include('../../../templates/CVO-Footer-Location.ejs') -%>
