
<%- include('../../../templates/CVO-Head-Location.ejs') -%>

<script>

document.getElementById("vaccination_list").className="active";
document.getElementById("transaction_list").className="active";


</script>


    <section >
            
            <div class="row clearfix">
                <div >
                
                    <div class="card">
                        <div class="header  bg-blue">
                            <h2>Schedule Vaccination</h2>
                        </div>
                        <div class="body">
       
               <link rel='stylesheet' href='/fullcalendar/fullcalendar.css' />                   
                     
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
<div id='calendar' class="col-sm-6"></div>
<div id='appointmentTime' class="col-sm-6">
    <h2>Appointment Time</h2>

</div>
</div>
<script src="PrettifyDate/PrettifyDate.js"></script>
<script src='/fullcalendar/lib/jquery.min.js'></script>
<script src='/fullcalendar/lib/moment.min.js'></script>
<script src='/fullcalendar/fullcalendar.js'></script>
<script >
swal("Please select a date of appointment in the calendar!");
    $(function() {

  // page is now ready, initialize the calendar...

  $('#calendar').fullCalendar({
    weekends: false,
     height: 400,
     contentHeight: 450,
     dayClick: function(date) {
        
          $.ajax({
                                              type: 'POST',
                                              dataType: "json",
                                              data: { id: date.format() },
                                                          url: '/CVO_VaccinationScheduling/getSlots',
                                                          success: function(data) {
                                                               //alert(JSON.stringify(data));
                                                               $('#appointmentTime').empty();
                                                                $('#appointmentTime').append(`<h2>Appointment Time</h2>`);
                                                               data.forEach(function(i,x){
                                                              if(i.totalSlots-i.takenSlots==0){
                                                                $('#appointmentTime').append(`<button class="btn btn-danger btn-lg btn-block waves-effect" type="button"  disabled>`+i.hour+`-`+("0"+(parseInt((i.hour).split(":")[0])+1)).slice(-2)+`:`+(i.hour).split(":")[1]+`(`+0+` Slots)</button>`);
                                                              }else{
                                                                $('#appointmentTime').append(`<button class="btn btn-primary btn-lg btn-block waves-effect" type="button">`+i.hour+`-`+("0"+(parseInt((i.hour).split(":")[0])+1)).slice(-2)+`:`+(i.hour).split(":")[1]+`(`+(i.totalSlots-i.takenSlots)+` Slots)</button>`);
                                                            }

                                                            });
                                                          }
                                                      });
     },
     validRange: function(nowDate) {
    return {
      start: nowDate
    
    };
  },

     events: [{}]

  })

});
</script>   

                                <br>

                                <center>
                                <a href="/CVO_OrderOfPayment"><button class="btn btn-primary waves-effect" type="button">PROCEED TO ORDER OF PAYMENT GENERATION</button></a>&nbsp;
                                <a href="/CVO_PetRegistration"><button class="btn btn-primary waves-effect" type="button">BACK</button></a></center>
                                 </form>
                        </div>
                    </div>
                </div>
            </div>
       
       
    </section>

    <div class="modal fade" id="timechoose" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">VACCINATION TIME</h4>
                        </div>
                        <div class="modal-body">
                        <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <input type="radio" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">8:00 am(10 Slots)</label>
                                        </span>
                                        </div>
                                        <div class="input-group input-group-lg"> <span class="input-group-addon">
                                            <input type="radio" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">9:00 am(6 Slots)</label>
                                        </span></div>
                                        <div class="input-group input-group-lg"> <span class="input-group-addon">
                                            <input type="radio" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">10:00 am(12 Slots)</label>
                                        </span></div>
                                        <div class="input-group input-group-lg"> <span class="input-group-addon">
                                            <input type="radio" class="filled-in" id="ig_checkbox" disabled>
                                            <label for="ig_checkbox"><strike>11:00 am(No Slot)</strike></label>
                                        </span></div>
                                        <div class="input-group input-group-lg"> <span class="input-group-addon">
                                            <input type="radio" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">12:00 nn(13 Slots)</label>
                                        </span></div>
                                        <div class="input-group input-group-lg"> <span class="input-group-addon">
                                            <input type="radio" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">1:00 pm(9 Slots)</label>
                                        </span></div>
                                        <div class="input-group input-group-lg"> <span class="input-group-addon">
                                            <input type="radio" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">2:00 pm(2 Slots)</label>
                                        </span></div>
                                        <div class="input-group input-group-lg"> <span class="input-group-addon">
                                            <input type="radio" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">3:00 pm(8 Slots)</label>
                                        </span></div>
                                         <div class="input-group input-group-lg"><span class="input-group-addon">
                                            <input type="radio" class="filled-in" id="ig_checkbox" disabled>
                                            <label for="ig_checkbox"><strike>4:00 pm(No Slot)</strike></label>
                                        </span></div>
                                       
                                   
                                 
               
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CHOOSE</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
 </div>
    </section>



    <!-- Bootstrap Core Js -->
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js"></script>

    

    <!-- Custom Js -->
    <script src="../../js/admin.js"></script>
    <script src="../../js/pages/tables/jquery-datatable.js"></script>
        <!-- Custom Js -->
   <script src="../../js/pages/ui/tooltips-popovers.js"></script>


    <!-- Demo Js -->
    <script src="../../js/demo.js"></script>
</body>

</html>

   