<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>

document.getElementById("query_list").className="active";

</script>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="block-header" >
                <h2>
                    PET OWNER REGISTRATION
                </h2>
                
            </div>
            <div class="col-sm-3">
        <div class="card">
        <div class="body">
                <label class="form-label">Start Date</label>
                   <div class="form-group form-float">
                            <div class="form-line">
                <input type="date" class="form-control">
                </div></div>
                
                <label class="form-label">End Date</label>
                   <div class="form-group form-float">
                            <div class="form-line">
                <input type="date" class="form-control">
                </div></div>
                </div>
               </div>
      
        </div>
        <div class="col-sm-9">
        <div class="card">
           
            <div class="body">
               

           

                                    <label class="form-label">EXPORT QUERY</label>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>Attrb#1</th>
                                            <th>Attrb#2</th>
                                            <th>Attrb#3</th>
                                            <th>Attrb#4</th>
                                            <th>Attrb#5</th>
                                            <th>Attrb#6</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <tr>
                                            <td>Data1-1</td>
                                            <td>Data1-2</td>
                                            <td>Data1-3</td>
                                            <td>Data1-4</td>
                                            <td>Data1-5</td>
                                            <td>Data1-6</td>
                                        </tr>
                                        <tr>
                                            <td>Data2-1</td>
                                            <td>Data2-2</td>
                                            <td>Data2-3</td>
                                            <td>Data2-4</td>
                                            <td>Data2-5</td>
                                            <td>Data2-6</td>
                                        </tr>
                              
                                   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                   
            <!-- #END# Exportable Table -->
                     
            </div>
        </div>
        </div>
    </div>
   
<%- include('../../../templates/CVO-Footer-Location.ejs') -%>

    