<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("certification_list").className="active";


</script>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <div class="block-header" >

        <div class="block-header" >

                <h2>
                CERTIFICATION
                </h2>
            </div>
        <div class="card">

            <div class="body" style="min-height: 550">
<br><br>
            <div class="col-sm-4">
             <div class="btn bg-grey btn-block waves-effect" style="height:200px" >
            
            <i class="material-icons" style="font-size: 120px;">description </i>
            <br><h2>CERTIFICATE OF</h2><h2>PET OWNERSHIP</h2></div>
            </div>

             <div class="col-sm-4">
             <div class="btn bg-grey btn-block waves-effect" style="height:200px" >
            
            <i class="material-icons" style="font-size: 120px;">description</i>
            <br><h2>CERTIFICATE OF</h2><h2>PET REGISTRATION</h2></div>
            </div>

             <div class="col-sm-4">
             <div class="btn bg-grey btn-block waves-effect" style="height:200px" >
                
            <i class="material-icons" style="font-size: 120px;">description</i>
            <br><h2>CERTIFICATE OF</h2><h2>ANTI RABIES VACCINATION</h2></div>
            </div>
            <div class="col-sm-2">
            </div>
             <div class="col-sm-4">
             <div class="btn bg-grey btn-block waves-effect" style="height:200px" >
                
            <i class="material-icons" style="font-size: 120px;">description</i>
            <br><h2>CERTIFICATE OF</h2><h2> ADOPTION</h2></div>
            </div>

 <div class="col-sm-4">
             <div class="btn bg-grey btn-block waves-effect" style="height:200px" >
                
            <i class="material-icons" style="font-size: 120px;">description</i>
            <br><h2>CERTIFICATE OF</h2><h2>TRANSFER OF PET OWNERSHIP</h2></div>
            </div>



            </div>
            </div>
        </div>
    </div>

     



<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
