<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("redemption_list").className="active";
document.getElementById("transaction_list").className="active";
</script>

<div class="row clearfix">
                <div >
                    <div class="card">
                        
                        <div class="body" align="center">
                        <h3>Lost Pet Description</h3> 
                        
                            <table class="table table-striped">
                            <tr>
                                  <td><strong>PET OWNER NAME:</strong></td>
                                  <td>Mary Justine Espin</td>
                                </tr>   
                             <tr>
                                  <td><strong>PET OWNER'S LOCATION(BARANGAY):</strong></td>
                                  <td>Sto. Nino 1</td>
                                </tr>   
                                <tr>
                                  <td><strong>COLOR PATTERN:</strong></td>
                                  <td>Full White</td>
                                </tr>
                                <tr>
                                  <td><strong>SEX:</strong></td>
                                  <td>Male</td>
                                </tr>
                                <tr>
                                  <td><strong>BREED:</strong></td>
                                  <td>Spitz</td>
                                </tr>
                                <tr>
                                  <td><strong>DATE LOST:</strong></td>
                                  <td>01/27/2018</td>
                                </tr>
                                
                                </table>          
                      
                        </div>
                    </div>
                </div>
            </div>

  <div class="row clearfix">
                <div >
                    <div class="card">
                        <div class="header  bg-blue">
                            <h2>SUGGESTIONS</h2>
                        </div>
                        <div class="body">
                       
                        <center>
                           <a data-toggle="modal" data-target="#PetInfo"><img src="/images/douglas.jpg"/></a>
                           <a data-toggle="modal" data-target="#PetInfo"><img src="/images/douglas.jpg"/></a>
                           <a data-toggle="modal" data-target="#PetInfo"><img src="/images/douglas.jpg"/></a>
                           <a data-toggle="modal" data-target="#PetInfo"><img src="/images/douglas.jpg"/></a>
                           <a data-toggle="modal" data-target="#PetInfo"><img src="/images/douglas.jpg"/></a>
                          
                        </center>
                
                        
                        </div>
                    </div>
                </div>
            </div>
       
         <div class="modal fade" id="PetInfo" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">View Impounded Animal Details</h4>
                        </div>
                        <div class="modal-body" align="center">
                        
                              <img src="/images/douglas.jpg"/>
                              <table class="table table-striped">
                                <tr>
                                  <td><strong>APREHENDED IN BARANGAY:</strong></td>
                                  <td>Sto. Nino 1</td>
                                </tr>
                                <tr>
                                  <td><strong>APREHENSION DATE:</strong></td>
                                  <td>01/27/2018</td>
                                </tr>
                                <tr>
                                  <td><strong>IMPOUNDING SITE:</strong></td>
                                  <td>Concepcion</td>
                                </tr>
                                <tr>
                                  <td><strong>CAGE NUMBER:</strong></td>
                                  <td>127</td>
                                </tr>
                                <tr>
                                  <td><strong>STATUS:</strong></td>
                                  <td>For Claiming</td>
                                </tr>
                                
                                

                                
                                
                              </table>

                        </div>
                        <div class="modal-footer">
                           <a href="/CVO_PetRegistration"><button type="button" class="btn btn-link waves-effect">CLAIM</button></a>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>

<%- include('../../../templates/CVO-Footer-Location.ejs') -%>