                                    <div class="body">
                                                  <div>
                                                      <table class="table table-striped table-hover" id="vaccinationHistoryTable">
                                                          <thead class="bg-blue">
                                                              <tr>
                                                                  <th>ID</th>
                                                                  <th>Date</th>
                                                                  <th>Vaccine Name</th>
                                                                  <th>Classification</th>
                                                                  <th>Manufacturer</th>
                                                                   <th>Lot Number</th>
                                                               
                                                                  <th>Employee Incharge</th>

                                                              </tr>
                                                          </thead>
                                                          <tbody id="vaccinationHistoryTableBody">

                                                            

                                                          </tbody>
                                                      </table>
                                                  </div>
                                              </div>