<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div >
                       
                        <div >
                            <form  action="/CVO_ImpoundingSite" method="POST" novalidate="novalidate">

                                <label class="form-label">Impounding Site Location(Barangay)</label>
                                <select name="barangayId" class="form-control show-tick" data-live-search="true">
                                         <option>select</option>
                                        <% ba.forEach(function(b){ %>
                                        <option value=<%= b.int_BarangayId %>> <%= b.str_BarangayName %> </option>
                                          <% }); %>
                                      </select>
                            <br>
                              <br>
								                 <label class="form-label">Number Of Cages</label>
                                 <br>
                                 <div class="col-sm-8">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="Number" class="form-control" name="forImpoundedDogs">
                                        <label class="form-label">For Impounded Dogs</label>
                                    </div>
                                    </div>
                                   
                                </div>
                                 <div class="col-sm-4">
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="Number" class="form-control" name="maxforImpoundedDogs">
                                        <label class="form-label">Max Number of Dogs</label>
                                    </div>
                                    </div>
                                    </div>
                                 <div class="col-sm-8">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="Number" class="form-control" name="forImpoundedCats">
                                        <label class="form-label">For Impounded Cats</label>
                                    </div>
                                    </div>
                                </div>
                                 <div class="col-sm-4">
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="Number" class="form-control" name="maxforImpoundedCats">
                                        <label class="form-label">Max Number of Cats</label>
                                    </div>
                                    </div>
                                    </div>
                                <div class="col-sm-8">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="Number" class="form-control" name="forDogsObservation">
                                                        <label class="form-label">For Dogs Observation</label>
                                                    </div>
                                                </div>
                                                </div>
                                                 <div class="col-sm-4">
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="Number" class="form-control" name="maxforDogsObservation">
                                        <label class="form-label">Max Number of Dogs Observation</label>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="col-sm-8">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <input type="Number" class="form-control" name="forCatsObservation">
                                                        <label class="form-label">For Cats Observation</label>
                                                    </div>
                                                </div>
                                                </div>
                                                 <div class="col-sm-4">
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="Number" class="form-control" name="maxforCatsObservation">
                                        <label class="form-label">Max Number of Cats Observation</label>
                                    </div>
                                    </div>
                                    </div>


                                <input type="hidden" name="status" id="status" value=1 ><span class="lever switch-col-blue">
                                 <label class="form-label">Active/Inactive</label>
                                         <div class="switch">
                                             <label><input type="checkbox" checked onChange="statIndicate(); "><span class="lever switch-col-blue"></span></label>
                                             <span id="StatusIndication">Active</span>
                                         </div>
                                <br>
                                <center><button class="btn btn-primary waves-effect" type="submit">ADD</button></center>
                            </form>
                        </div>
                    </div>
                </div>


				<script>
				function statIndicate(){
					if(document.getElementById('StatusIndication').innerHTML=='Active'){
						document.getElementById('StatusIndication').innerHTML='Inactive';
            document.getElementById('status').value=0;
					}
					else{
						document.getElementById('StatusIndication').innerHTML='Active';
            document.getElementById('status').value=1;
					}
				}
				</script>
