<div class="modal fade" id="add" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header bg-blue">
            <h4 class="modal-title" id="defaultModalLabel">ADD NEW IMPOUNDING SITE</h4>
         </div>
         <div class="modal-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div >
                  <div >
                     <form  action="/CVO_ImpoundingSite" method="POST" onsubmit="return false;"  id="form_impoundingsite">
                        <div class="col-sm-8">
                           <label class="form-label">Impounding Site Location(Barangay)</label>
                           <div class="form-group form-float">
                              <div class="form-line" id="barangayId">
                                 <select name="barangayId" class="form-control show-tick" data-live-search="true" onchange="selectRequiredValidate(this)">
                                    <option value="select">select</option>
                                    <% ba.forEach(function(b){ %>
                                    <option value=<%= b.int_BarangayId %>> <%= b.str_BarangayName %> </option>
                                    <% }); %>
                                 </select>
                              </div>
                              <label id="required-barangayId" class="error" style="display: none;">This field is required.</label>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <input type="hidden" name="status" id="status" value=1 ><span class="lever switch-col-blue"></span>
                           <label class="form-label">Active/Inactive</label>
                           <div class="switch">
                              <label><input type="checkbox" checked onChange="statIndicate(); "><span class="lever switch-col-blue"></span></label>
                              <span id="StatusIndication">Active</span>
                           </div>
                        </div>
                        <br>
                        <br><br><br>
                        <div class="col-xs-12">
                           <label class="form-label">Number Of Cages</label>
                        </div>
                        <br>
                        <div class="col-sm-6">
                           <div class="form-group form-float">
                              <div class="form-line" id="forImpoundedDogs">
                                 <input type="Number" class="form-control" name="forImpoundedDogs" onkeyup="requiredValidate(this)">
                                 <label class="form-label">For Impounded Dogs</label>
                              </div>
                              <label id="required-forImpoundedDogs" class="error" style="display: none;">This field is required.</label>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-float" >
                              <div class="form-line" id="maxforImpoundedDogs">
                                 <input type="Number" class="form-control" name="maxforImpoundedDogs" onkeyup="requiredValidate(this)">
                                 <label class="form-label">Max Number of Dogs per Cage</label>
                              </div>
                              <label id="required-maxforImpoundedDogs" class="error" style="display: none;">This field is required.</label>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-float">
                              <div class="form-line" id="forImpoundedCats">
                                 <input type="Number" class="form-control" name="forImpoundedCats" onkeyup="requiredValidate(this)">
                                 <label class="form-label">For Impounded Cats</label>
                              </div>
                              <label id="required-forImpoundedCats" class="error" style="display: none;">This field is required.</label>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-float">
                              <div class="form-line" id="maxforImpoundedCats">
                                 <input type="Number" class="form-control" name="maxforImpoundedCats" onkeyup="requiredValidate(this)">
                                 <label class="form-label">Max Number of Cats per Cage</label>
                              </div>
                              <label id="required-maxforImpoundedCats" class="error" style="display: none;">This field is required.</label>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-float">
                              <div class="form-line" id="forDogsObservation">
                                 <input type="Number" class="form-control" name="forDogsObservation" onkeyup="requiredValidate(this)">
                                 <label class="form-label">For Dogs Observation</label>
                              </div>
                              <label id="required-forDogsObservation" class="error" style="display: none;">This field is required.</label>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-float">
                              <div class="form-line" id="maxforDogsObservation">
                                 <input type="Number" class="form-control" name="maxforDogsObservation" onkeyup="requiredValidate(this)">
                                 <label class="form-label">Max Number of Dogs Observation per Cage</label>
                              </div>
                              <label id="required-maxforDogsObservation" class="error" style="display: none;">This field is required.</label>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-float">
                              <div class="form-line" id="forCatsObservation">
                                 <input type="Number" class="form-control" name="forCatsObservation" onkeyup="requiredValidate(this)">
                                 <label class="form-label">For Cats Observation</label>
                              </div>
                              <label id="required-forCatsObservation" class="error" style="display: none;">This field is required.</label>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group form-float">
                              <div class="form-line" id="maxforCatsObservation">
                                 <input type="Number" class="form-control required" name="maxforCatsObservation" onkeyup="requiredValidate(this)">
                                 <label class="form-label">Max Number of Cats Observation per Cage</label>
                              </div>
                              <label id="required-maxforCatsObservation" class="error" style="display: none;">This field is required.</label>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-link waves-effect" onclick="add_validate()">ADD</button>
            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
         </div>
      </div>
   </div>
</div>
<script>
   function requiredValidate(x){
       
         if(x.value.trim()==""){
           document.getElementById("required-"+x.name).style.display="block";
           $("#"+x.name).addClass("error");
         }
       else{
         document.getElementById("required-"+x.name).style.display="none";
          $("#"+x.name).removeClass("error");
       }
   
     }
     function selectRequiredValidate(x){
         if(x.value=="select"){
           document.getElementById("required-"+x.name).style.display="block";
           $("#"+x.name).addClass("error");
         }
         else{
               document.getElementById("required-"+x.name).style.display="none";
           $("#"+x.name).removeClass("error");
         }
     }
   function statIndicate(){
   if(document.getElementById('StatusIndication').innerHTML=='Active'){
   document.getElementById('StatusIndication').innerHTML='Inactive';
         document.getElementById('status').value=0;
   }
   else{
   document.getElementById('StatusIndication').innerHTML='Active';
         document.getElementById('status').value=1;
   }
   }
   function add_validate(){
      var toSubmit=true;

      if(document.getElementsByName('barangayId')[0].value=="select"){
           document.getElementById("required-barangayId").style.display="block";
           $("#barangayId").addClass("error");
           toSubmit=false;
         }

      ['forImpoundedDogs','maxforDogsObservation','forImpoundedCats','maxforCatsObservation','forDogsObservation','maxforImpoundedCats','forCatsObservation','maxforImpoundedDogs'].forEach(function(i){
         if(document.getElementsByName(i)[0].value.trim()==""){
           document.getElementById("required-"+i).style.display="block";
           $("#"+i).addClass("error");
           toSubmit=false;
         }
       else{
         document.getElementById("required-"+i).style.display="none";
          $("#"+i).removeClass("error");
       }
      });
      if(toSubmit){
         swal({
  title: "Confirmation?",
  text: "Do you wish to Add New Impounding Site",
  icon: "info",
  buttons: true,
})
.then((willDelete) => {
  if (willDelete) {
   document.getElementById('form_impoundingsite').submit();
  } 
});
         
      }

   }
</script>