<div class="modal fade" id="modal_qr" tabindex="-1" role="dialog">
             <div class="modal-dialog" role="document">
                 <div class="modal-content">
                     <div class="modal-header bg-blue">
                         <h4 class="modal-title" id="defaultModalLabel">QR CODE</h4>
                     </div>
                     <div class="modal-body">
                       <center>
                         <script type="text/javascript" src="QR-Code/jquery.min.js"></script>
                          <script type="text/javascript" src="QR-Code/qrcode.js"></script>
                          <div id="printqr">
                          <div id="qrcode"></div>
                          <h4 id="modal_qr1" ></h4>
                        </div>
                        <script type="text/javascript">
                        function generateqr(x){
                          document.getElementById("qrcode").innerHTML="";
                          var qrcode = new QRCode(document.getElementById("qrcode"), {
                          text: x+"",
                          width: 200,
                          height: 200,
                          colorDark : "#3498DB",
                          colorLight : "#ffffff",
                          correctLevel : QRCode.CorrectLevel.H
                        });
                      }
                        </script>


                       </center>
                     </div>
                     <div class="modal-footer">
                       <center>

                         <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal" onclick="printDiv('printqr');">DOWNLOAD</button>

                         <!--- NOTE: THIS PART IS PANG SAVE SANA AS PNG NG GENERATED QR CODE KASO SADLY EPIC FAIL PA SIYA.-sean
                         <script>
                            function printDiv(divName) {
                                 var printContents = document.getElementById(divName).innerHTML;
                                 var bodyoriginalContents = document.body.innerHTML;
                                 document.body.innerHTML = printContents;
                                 window.print();
                                 document.body.innerHTML = bodyoriginalContents;
                              }
                        </script> --->
                         <button type="button" class="btn btn-gray waves-effect" data-dismiss="modal">CLOSE</button>
                       </center>
                     </div>
                 </div>
             </div>
         </div>
