<div class="modal fade" id="add" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header bg-blue">
            <h4 class="modal-title" id="defaultModalLabel">ADD ANIMAL BREED</h4>
         </div>
         <div class="modal-body">
            <form id="form_breed" method="POST"  action="/CVO_AnimalBreed/add" >
               <label class="form-label">Breed Name</label>
               <div class="form-group form-float">
                  <div class="form-line" id="breedname_line">
                     <input type="text" class="form-control" name="name" autocomplete='off' onkeyup="breedname_typing(this.value)" aria-required="true" id="name" >
                  </div>
                  <label id="required-breed_name" class="error" style="display: block;">This field is required.</label>
                  <label id="exist-breed_name" class="error" style="display: block;">Breed Name exists.</label>
               </div>
               <label class="form-label">Animal Species</label>
               <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                  <input name="animal" type="radio" value=0 id="ig_radio" checked>
                  <label for="ig_radio">Dog</label>
                  </span>
                  <span class="input-group-addon">
                  <input name="animal" type="radio" value=1 id="ig_radio2">
                  <label for="ig_radio2">Cat</label>
                  </span>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-link waves-effect" onclick="add_validation()" >ADD</button>
            <button type="button" class="btn btn-link waves-effect" onclick="document.getElementById("form_breed").reset();">CLOSE</button>
         </div>
      </div>
   </div>
</div>
<script>
   document.getElementById("required-breed_name").style.display = "none";
document.getElementById("exist-breed_name").style.display = "none";

function breedname_typing(i) {
    $.ajax({
        type: 'POST',
        dataType: "json",
        data: {
            id: i
        },
        url: '/checkBreedName/add ',
        success: function(data) {

            if (data == 1) {
                $('#breedname_line').addClass("error");
                document.getElementById("exist-breed_name").style.display = 'block';

            } else {
                document.getElementById("exist-breed_name").style.display = 'none';
            }
        }
    });
    if (document.getElementById('name').value.trim() == "") {
        $('#breedname_line').addClass("error");
        document.getElementById("required-breed_name").style.display = 'block';
    } else {
        $("#breedname_line").removeClass("error");
        document.getElementById("required-breed_name").style.display = "none";
    }

}

function add_validation() {
 
    var toSubmit = true;
    if (document.getElementById('name').value.trim() == "") { alert("hi")
        toSubmit = false;
        $('#breedname_line').addClass("error");
        document.getElementById("required-breed_name").style.display = 'block';
    }
    else{
    $.ajax({
        type: 'POST',
        dataType: "json",
        data: {
            id: document.getElementById('name').value.trim()
        },
        url: '/checkBreedName/add ',
        success: function(data) {

            if (data == 1) {
                $('#breedname_line').addClass("error");
                document.getElementById("exist-breed_name").style.display = 'block';
                okay = false;
            } else {
                document.getElementById("exist-breed_name").style.display = 'none';
                if (toSubmit == true) {
                    swal({
                            title: "Are you sure you want to add new animal breed?",
                            icon: "/images/alert_question.png",
                            buttons: true,
                        })
                        .then((willDelete) => {
                            if (willDelete) {
                                document.getElementById('form_breed').submit();
                            }
                        });
                }
            }
        }
    });
  }

}
</script>

