<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header bg-blue">
                            <h2>ADD ARTICLE TO LEARN SECTION</h2>
                        </div>
                        <div class="body">
                            <div class="form-group form-float">
                                <label class="form-label">Topic</label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="name" required="" aria-required="true">
                                </div>
                            </div>

                            <label class="form-label">Image Content<small>(Maximum 1)</small></label>
                                <div >
                                    <div class="form-line">
                                        <input type="file"/>
                                    </div>
                                </div>
                                <br>

                            <label class="form-label">Content</label><br><br>
                             <div class="form-group form-float">
                               
                                <div class="form-line">
                                    <textarea class="form-control" name="name" required="" aria-required="true"></textarea>
                                </div>
                            </div>
                                <br><br>
                              <center><button class="btn btn-primary waves-effect" type="submit" >POST</button></center>  
                        </div>
                    </div>
                </div>
			