<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>

document.getElementById("utilities_list").className="active";
document.getElementById("impoundedanimalperiods_list").className="active";

</script>



               
             
                <div>
                    <div class="card">
                        <div class="header bg-blue">
                            <h2>IMPOUNDED ANIMAL PERIODS</h2>
                        </div>
                        <div class="body">
                                <div class="form-group form-float">
                                    <div class="alert bg-grey alert-dismissable"  id="animalperiodalert">
                                        <button type="button" class="close"  onclick="document.getElementById('animalperiodalert').hidden=true;"><span aria-hidden="true">×</span></button>Last modified by <u>Mary Justine Espin</u>.
                                    </div>
                                    <p>DISCLAIMER: The day after the adoption period will be the day of the euthinasia of the animal.</p>
                                    <label class="form-label">Claiming Period(Number of days after the animal has been impounded)</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="name" required="" aria-required="true" value=9>
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <label class="form-label">Adoption Period(Number of days after the Claiming Period)</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="name" required="" aria-required="true" value=5>
                                    </div>
                                </div>

                                <br>
                                <center><button class="btn btn-primary waves-effect" type="submit" >UPDATE</button>  
                        </div>
                    </div>
                </div>


<%- include('../../../templates/CVO-Footer-Location.ejs') -%>

    