<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("adoption_list").className="active";
document.getElementById("PendingApplication").className="active";
document.getElementById("transaction_list").className="active";
</script>
<div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="block-header">
                            <h2>PENDING ADOPTION APPLICATION</h2>
                        </div>
                    <div class="card">
                       
                        <div class="body">
                              <table class="table table-bordered table-striped table-hover js-basic-example dataTable" height="390px">
                                                    <thead>
                                                   
                                                        <tr>
                                                            <th>Transaction ID</th>
                                                            <th>Adopter Name</th>
                                                           <th>Adopter Type</th>
                                                           <th>Transaction Start Date</th>
                                                           <th>Current Stage</th>
                                                           <th>History</th>
                                                    
                                                            <th >Action</th>
                                                        </tr>
                                                    </thead>
                                               
                                                    <tbody>
                                                   
                                                        <tr>
                                                            <td></td>
                                                             <td></td>
                                                              <td></td>
                                                               <td></td>
                                                                <td></td>
                                                               
                                                                  <td></td>
                                                     
                                                            <td >
                                                               
                                                            </td>
                                                        </tr>
                                        
                                                    </tbody>
                                                </table>
                        </div>
                    </div>
                </div>
                <%- include('../../../templates/CVO-Footer-Location.ejs') -%>