<div class="modal fade" id="edit" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">EDIT TRANSACTION REQUIREMENT</h4>
                        </div>
                        <div class="modal-body">
                        <table class="table table-striped">
                                <tr>
                                  <td><strong>ID NUMBER:</strong></td>
                                  <td><input type="text" class="form-control" id="modal_ReqId" name="Req_Id" required="" aria-required="true" disabled></td>
                                </tr>
                                <tr>
                                  <td><strong>DESCRIPTION:</strong></td>
                                  <td><input type="text" class="form-control" id="modal_ReqDesc" name="Req_Desc" required="" aria-required="true"></td>
                                  </tr>
                                <tr>
                                  <td><strong>PURPOSE:</strong></td>
                                 <td>  <input type="textarea" class="form-control" id="modal_ReqPurpose" name="Req_Purpose" required="" aria-required="true"></td>
                                 </tr>
                               
                              
                              </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">UPDATE</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>