<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>

document.getElementById("requirements_list").className="active";
document.getElementById("maintenance_list").className="active";

</script>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue" >
                <h2>
                TRANSACTION REQUIREMENTS
                </h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div >
                    <center>
                    <a data-target="#requirements" data-toggle="modal" ><button type="button" class="req_modal btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Pet Owner Registration"  data-tname="Pet Owner Registration" data-transaction=0>Pet Owner Registration</button>
                    <button type="button" class="req_modal btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Pet Registration" data-tname="Pet Registration" data-transaction=1>Pet Registration</button>
                    <button type="button" class="req_modal btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Vaccination" data-tname="Vaccination" data-transaction=2>Vaccination</button>
                    <button type="button" class="req_modal btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Adoption" data-tname="Adoption" data-transaction=3>Adoption</button>
                    <button type="button" class="req_modal btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Redemption" data-tname="Redemption" data-transaction=4>Redemption</button></a>
                    </center>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tab-nav-right" role="tablist" >
                            <li role="presentation" class="active"><a href="#home_animation_2" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>LIST</a></li>
                            <li role="presentation" class=""><a href="#profile_animation_2" data-toggle="tab" aria-expanded="false"><i class="material-icons">add</i>ADD</a></li>
                          </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane animated fadeInRight active" id="home_animation_2">
                                    <div class="body">
                                    
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Description</th>
                                                            <th>Purpose</th>
                                                            <th>Transaction</th>
															<th>Action</th>
                                                        </tr>
                                                    </thead>
                                                 <!--   <tfoot>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Description</th>
                                                            <th>Price</th>
                                                        </tr> 
                                                    </tfoot> -->
                                                    <tbody>
                        
                                                        <tr>
                                                            <td>1</td>
                                                            <td>1 Government ID</td>
															<td>To verify pet owner's information</td>
															 <td>Pet Owner Registration</td>
                                                            <td>
                                                                <div align="center">
                                                                   
                                                                   
                                                                     <a data-toggle="modal" data-target="#edit" ><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Edit">
                                                                            <i class="material-icons">mode_edit</i>
                                                                    </button></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                             
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                            </div>
                            <div role="tabpanel" class="tab-pane animated fadeInRight" id="profile_animation_2">
                               <%- include('./addTransactionRequirements.ejs') -%>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="requirements" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="ModalLabel"></h4>
                        </div>
                        <div class="modal-body">
                              <h4>Requirements:</h4>
                                   <ul>
                                   <li><label for="ig_checkbox">REQUIREMENT#1</label></li>
                                 </ul>
                        </div>
                        <div class="modal-footer">
                            
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
   
   <div class="modal fade" id="edit" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">EDIT TRANSACTION REQUIREMENT</h4>
                        </div>
                        <div class="modal-body">
                        <table class="table table-striped">
                                <tr>
                                  <td><strong>ID NUMBER:</strong></td>
                                  <td>#1</td>
                                </tr>
                                <tr>
                                  <td><strong>DESCRIPTION:</strong></td>
                                  <td><input type="text" class="form-control" name="name" required="" aria-required="true" value='1 Government ID'></td>
                                  </tr>
                                <tr>
                                  <td><strong>PURPOSE:</strong></td>
                                 <td>  <input type="textarea" class="form-control" name="name" required="" aria-required="true" value="To verify pet owner's information"></td>
                                 </tr>
                                <tr>
                                  <td><strong>TRANSACTION:</strong></td>
                                  <td> <select class="form-control show-tick" data-live-search="true">
                                         <option>select</option>
                                        <option>Pet Owner Registration</option>
                                        <option>Pet Registration</option>
                                        <option>Adoption Process</option>
                                        <option>Redemption Process</option>
                                        <option>Vaccination Process</option>
                                     
                                    </select></td>
                                  </tr>
                                <tr>
                                  <td><strong>LAST EMPLOYEE MODIFIED:</strong></td>
                                  <td>Manuel Carlos</td>
                                  </tr>
                                <tr>
                                  <td><strong>DATE MODIFIED:</strong></td>
                                  <td> 01/23/2017</td>
                                  </tr>
                              </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">UPDATE</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>

<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
<<<<<<< HEAD
<script>
$(function (){
    $('.edit').on('click', function(){
        $('#modal_ReqId').val($(this).data('vd1'))
        $('#modal_ReqDesc').val($(this).data('vd2'))
        $('#modal_ReqPurpose').val($(this).data('vd3'))

        $Transaction = $(this).data('vd4')

        if ($Transaction == 0){
            $('#modal_ReqTransaction').val(0).change()
        }
        else if ($Transaction == 1){
            $('#modal_ReqTransaction').val(1).change()
        }
        else if ($Transaction == 2){
            $('#modal_ReqTransaction').val(2).change()
        }
        else if ($Transaction == 3){
            $('#modal_ReqTransaction').val(3).change()
        }
        else if ($Transaction == 4){
            $('#modal_ReqTransaction').val(4).change()
        }
    });
    $('.req_modal').on('click', function() {
       $('#ModalLabel').text($(this).data('tname'))
    });
});
</script>
=======

    
>>>>>>> parent of 1114cd0... Update nalang sa breed, colorpattern tas sa vaccine, yung sa requirements, wala pang laman yung mga button sa taas
