<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("dashboard_list").className="active";
</script>

 <div class="row clearfix">
     
                <!-- Line Chart -->
                <div class="col-sm-8">
                <div class="block-header">
                            <h2>2018 MONTHLY PET AND OWNER REGISTRATION</h2>
                        </div>
                    <div class="card">
                        
                        <div class="body">
                            <iframe src="/CVO_Dashboard/charts/petandownerregistration" width="100%" height="55%" frameBorder="0"></iframe>    
                        </div>
                    </div>
                </div>

                <!-- #END# Line Chart -->
				
                <!-- Bar Chart -->
                <div class="col-sm-4">
                 <div class="block-header ">
                            <h2>SCHEDULED ANTI RABIES VACCINATION TODAY</h2>
                           
                        </div>
                    <div class="card">
                       
                        <div class="body">
                            <canvas id="bar_chart" height="150"></canvas>
                        </div>
                    </div>
                </div>
                <!-- #END# Bar Chart -->
            </div>





<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
