<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("dashboard_list").className="active";
</script>

 <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="block-header">
                            <h2>Stray Animal Complaints</h2>
                        </div>
                    <div class="card">
                       
                        <div class="body">
                              <table class="table table-bordered table-striped table-hover js-basic-example dataTable" height="390px">
                                                    <thead>
                                                   
                                                        <tr>
                                                            <th>Van Cage Number</th>
                                                            <th>Pet Tag</th>
                                                           <th>Species</th>
                                                           <th>Breed</th>
                                                           <th>Color Pattern</th>
                                                           <th>Sex</th>
                                                           <th>Health Status</th>
                                                            <th >Action</th>
                                                        </tr>
                                                    </thead>
                                               
                                                    <tbody>
                                                   
                                                        <tr>
                                                            <td></td>
                                                             <td></td>
                                                              <td></td>
                                                               <td></td>
                                                                <td></td>
                                                                 <td></td>
                                                                  <td></td>
                                                     
                                                            <td >
                                                               
                                                            </td>
                                                        </tr>
                                        
                                                    </tbody>
                                                </table>
                        </div>
                    </div>
                </div>
                <!-- Line Chart -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header bg-blue">
                            <h2>Pet & Owner Registration</h2>
                        </div>
                        <div class="body">
                            <canvas id="line_chart" height="150"></canvas>
                        </div>
                    </div>
                </div>
				
                <!-- #END# Line Chart -->
				
                <!-- Bar Chart -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header bg-blue">
                            <h2>Apprehended Animal</h2>
                           
                        </div>
                        <div class="body">
                            <canvas id="bar_chart" height="150"></canvas>
                        </div>
                    </div>
                </div>
                <!-- #END# Bar Chart -->
            </div>

 

          
        

    <!-- Jquery Core Js -->
    <script src="../../plugins/jquery/jquery.min.js"></script>

    <!-- Ckeditor -->
    <script src="../../plugins/ckeditor/ckeditor.js"></script>
    <script src="../../js/pages/forms/editors.js"></script>



<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
