<body class="theme-blue">
   <!-- Page Loader -->
   <div class="page-loader-wrapper" style="background-image: url('/images/preloader.gif');background-repeat: no-repeat;background-size: 300px;background-position: center;">
      <div class="loader">
         <div class="preloader">
            <div class="spinner-layer pl-blue">
               <div class="circle-clipper left">
                  <div class="circle"></div>
               </div>
               <div class="circle-clipper right">
                  <div class="circle"></div>
               </div>
            </div>
         </div>
         <p>Please wait...</p>
      </div>
   </div>
   <!-- #END# Page Loader -->
   <!-- Overlay For Sidebars -->
   <div class="overlay"></div>
   <!-- #END# Overlay For Sidebars -->
   <!-- Top Bar -->
   <nav class="navbar">
      <div class="container-fluid">
         <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="index.html">CITY VETERINARY OFFICE</a>
         </div>
         <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
               <li class="pull-right"><a href="/CVO_Login/logout" >  <i class="material-icons">input</i></a></li>
            </ul>
         </div>
      </div>
   </nav>
   <!-- #Top Bar -->
   <section>
      <!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar" >
         <!-- User Info -->
         <div class="user-info">
            <div class="image">
               <img src="/images/user.png" width="48" height="48" alt="User" id="userPicture"/>
            </div>
            <div class="info-container">
               <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font style="color:white;"><strong> <div id="userName"></div></strong></font></div>
               <div class="email"><font style="color:white;"><strong> <div id="userEmail"></div></strong></font></div>
               <div class="btn-group user-helper-dropdown" style="color:white;">
                  <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                  <ul class="dropdown-menu pull-right">
                     <li><a href="javascript:void(0);"><i class="material-icons">lock</i>Change Password</a></li>
                     <li><a href="javascript:void(0);"><i class="material-icons">input</i>Logout</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- #User Info -->
         <!-- Menu -->
         <div class="menu">
            <ul class="list">
               <li class="header">Menu</li>
               <li id="dashboard_list" >
                  <a href="/CVO_Dashboard">
                  <i class="material-icons">dashboard</i>
                  <span>Dashboard</span>
                  </a>
               </li>
               <li>
               <li id="transaction_list">
                  <a href="javascript:void(0);" class="menu-toggle">
                  <i class="material-icons">description</i>
                  <span>Transaction</span>
                  </a>
                  <ul class="ml-menu">
                     
                  
                           
                           <li id="reg_list">
                              <a href="/CVO_Registration">Registration</a>
                           </li>
                      
                           
                       
                        <li id="vaccination_list">
                        <a href="javascript:void(0);" class="menu-toggle">
                        Vaccination
                        </a>
                        <ul class="ml-menu">
                     <li id="walkinvac_list" >
                        <a href="/CVO_Vaccination/WalkIn">Walk-in Vaccination</a>
                     </li>
                      <li id="schedvac" >
                        <a href="/CVO_Vaccination/Scheduled">Schedule Vaccination</a>
                     </li>
                      </ul>
                     </li>
                     <li id="impounding_list">
                        <a href="javascript:void(0);" class="menu-toggle">
                        Impounding
                        </a>
                        <ul class="ml-menu">
                        
                           <li id="apprehension">
                              <a href="/CVO_Apprehension">Apprehension</a>
                           </li>
                           <li id="surrenderanimal">
                              <a href="/CVO_SurrenderAnimal/SurrenderedAnimals">Surrender Animal</a>
                           </li>
                           <li id="animalreleasing">
                              <a href="/CVO_AnimalReleasing">Animal Releasing</a>
                           </li>

                        </ul>
                     </li>
                     <li id="redemption_list">
                   
                         <a href="javascript:void(0);" class="menu-toggle">
                        Redemption
                        </a>
                        <ul class="ml-menu">
                           <li id="NewRedemption">
                              <a href="/CVO_Redemption/New">New Redemption</a>
                           </li>
                           <li id="PendingRedemption">
                              <a href="/CVO_Redemption/Pending">Pending Redemption</a>
                           </li>
                     
                           
                        </ul>
                     </li>
                    
                     <li id="adoption_list">
                        <a href="javascript:void(0);" class="menu-toggle">
                        Adoption
                        </a>
                        <ul class="ml-menu">
                           <li id="NewApplication">
                              <a href="/CVO_Adoption">Pet Adoption Application</a>
                           </li>
                           <li id="AdoptionVisit">
                              <a href="/CVO_Adoption/Visit">Impounding Site Visitation</a>
                           </li>
                     
                           
                        </ul>
                     </li>
                     <li id="record_list">
                        <a href="/CVO_RecordCollection">Collection</a>
                     </li>
          

                      <li id="animalturnover_list">
                        <a href="javascript:void(0);" class="menu-toggle">
                        Animal Turnover
                        </a>
                        <ul class="ml-menu">
                           <li id="newturnover">
                              <a href="/CVO_AnimalTurnover/New">New Turnover</a>
                           </li>
                           <li id="pendingturnover">
                              <a href="/CVO_AnimalTurnover/Pending">Pending Turnovers</a>
                           </li>
                           <li id="pickup">
                              <a href="/CVO_AnimalTurnover/Pickup">Pickup</a>
                           </li>
                     
                           
                        </ul>
                     </li>
                     <li id="transferofownership_list">
                        <a href="/CVO_TransferOfPetOwnership">Transfer Of Pet Ownership</a>
                     </li>
                  </ul>
               </li>
               <li id="maintenance_list">
                  <a href="javascript:void(0);" class="menu-toggle">
                  <i class="material-icons">build</i>
                  <span>Maintenance</span>
                  </a>
                  <ul class="ml-menu">
                  <li id="petowners_list">
                        <a href="/CVO_PetOwner">Pet Owner</a>
                     </li>
                     <li id="animal_list">
                        <a href="javascript:void(0);" class="menu-toggle">
                        Animal
                        </a>
                        <ul class="ml-menu">
                           <li id="animalbreed_list">
                              <a href="/CVO_AnimalBreed">Animal Breed</a>
                           </li>
                           <li id="animalcolor_list">
                              <a href="/CVO_AnimalColorPattern">Animal Color Pattern</a>
                           </li>
                        </ul>
                     </li>
                     <li id="antirabies_list">
                        <a href="javascript:void(0);" class="menu-toggle">
                        Anti Rabies Vaccine
                        </a>
                        <ul class="ml-menu">
                           <li id="manufacturer_list">
                              <a href="/CVO_Manufacturer">Manufacturer</a>
                           </li>
                           <li id="vaccine_list">
                              <a href="/CVO_Vaccine">Vaccine</a>
                           </li>
                        </ul>
                     </li>
                     <li id="location_list">
                        <a href="/CVO_Location">Location(Barangay)</a>
                     </li>

                     <li id="timpounding">
                              <a href="/CVO_Impounding">Impounding Site</a>
                     </li>
                     <li id="van_list">
                        <a href="/CVO_Van">Van</a>
                     </li>

                      <li id="requirement_list">
                        <a href="javascript:void(0);" class="menu-toggle">
                        Requirements   
                        </a>
                        <ul class="ml-menu">
                          <li id="requirements_list">
                        <a href="/CVO_Requirement">Requirements</a>
                     </li>

                     <li id="transrequirements_list">
                        <a href="/CVO_TransactionRequirements">Transaction Requirements</a>
                     </li>
                        </ul>
                     </li>
                     <li id="nature_list">
                        <a href="/CVO_NatureOfCollection">Nature of Collection</a>
                     </li>
                     <li id="organization_list">
                        <a href="/CVO_Organization">Organization</a>
                     </li>
                  </ul>
               </li>
               <li id="query_list">
                  <a href="javascript:void(0);" class="menu-toggle" >
                  <i class="material-icons">list</i>
                  <span>Query</span>
                  </a>
                  <ul class="ml-menu">
                      <li id="registeredpetowner_q">
                        <a href="javascript:void(0);" class="menu-toggle">
                        Registration
                        </a>
                        <ul class="ml-menu">
                           <li id="petowner_q">
                              <a href="/CVO_Query/PetOwnerRegistration?QueryType=2">Pet Owner</a>
                           </li>
                           <li id="pet_q">
                              <a href="/CVO_Query/PetRegistration?QueryType=2">Pet</a>
                           </li>
                        </ul>
                     </li>
                     <li id="vaccination_q">
                        <a href="/CVO_Query/Vaccination?QueryType=2">Vaccination</a>
                     </li>
                     <li id="impounding_q">
                      <a href="javascript:void(0);" class="menu-toggle">
                        Impounding
                        </a>
                        <ul class="ml-menu">
                          <li id="petadoption_q">
                             <a href="/CVO_Query/PetsAdoption?QueryType=2">Pets for Adoption</a>
                          </li>
                          <li id="petredemption_q">
                             <a href="/CVO_Query/PetsRedemption?QueryType=2">Pets for Redemption</a>
                          </li>
                          <li id="peteuthanasia_q">
                            <a href="/CVO_Query/PetsEuthanasia?QueryType=2">Pets for Euthanasia</a>
                         </li>
                         <li id="apprehendedanimals_q">
                          <a href="/CVO_Query/ApprehendedAnimals?QueryType=2">Apprehended Animals</a>
                          </li>
                          <li id="surrenderedanimals_q">
                            <a href="/CVO_Query/SurrenderedAnimals?QueryType=2">Surrendered Animals</a>
                            </li>
                          <li id="releasedanimals_q">
                            <a href="/CVO_Query/ReleasedAnimals?QueryType=2">Released Animals</a>
                            </li>
                          <li id="euthanizedanimals_q">
                            <a href="/CVO_Query/EuthanizedAnimals?QueryType=2">Euthanized Animals</a>
                            </li>
                            <li id="deceasedanimals_q">
                              <a href="/CVO_Query/DeceasedAnimals?QueryType=2">Deceased Animals</a>
                              </li>
                       </ul>
                   </li>
                     <li id="redemption_q">
                        <a href="/CVO_Query/Redemption?QueryType=2">Redemption</a>
                     </li>
                     <li id="adoption_q">
                        <a href="/CVO_Query/Adoption?QueryType=2">Adoption</a>
                     </li>
                     <li id="collection_q">
                        <a href="/CVO_Query/Collection?QueryType=2">Collection</a>
                     </li>
                     <li id="animalturnover_q">
                      <a href="javascript:void(0);" class="menu-toggle">
                        Animal Turnover
                        </a>
                        <ul class="ml-menu">
                            <li id="turnedoveranimals_q">
                                <a href="/CVO_Query/TurnedOverAnimals?QueryType=2">Turned Over Animals</a>
                             </li>
                             <li id="batchanimalturnover_q">
                                <a href="/CVO_Query/BatchOfAnimalTurnover?QueryType=2">Batch of Animal Turnover</a>
                             </li>
                            </ul>
                      </li>
                     <li id="strayanimalcomplaints_q">
                      <a href="/CVO_Query/StrayAnimalComplaints?QueryType=2">Stray Animal Complaints</a>
                   </li>
                   <li id="transferofpet_q">
                    <a href="/CVO_Query/TransferOfPetOwnership?QueryType=2">Transfer of Pet Ownership</a>
                 </li>
                </ul>
               </li>
                
               <li id="email_list">
                  <a href="/CVO_Email" >
                  <i class="material-icons">mail</i>
                  <span>Email</span>
                  </a>
               </li>
                 <li id="complaints_list">
                  <a href="/CVO_StrayAnimalComplaints" >
                  <i class="material-icons">report_problem</i>
                  <span>Stray Animals Complaints</span>
                  </a>
               </li>

                <li id="certification_list">
                  <a href="/CVO_Certification" >
                  <i class="material-icons">print</i>
                  <span>Certification</span>
                  </a>
               </li>
               <li id="utilities_list">
                  <a href="javascript:void(0);" class="menu-toggle">
                  <i class="material-icons">perm_data_setting</i>
                  <span>Utilities</span>
                  </a>
                  <ul class="ml-menu">
                     <li id="employees_list">
                        <a href="/CVO_Employees">Employees</a>
                     </li>
                      <li id="operationConstraints_list">
                        <a href="/CVO_OperationConstraints">Operation Constraints</a>
                     </li>
                     <li id="office_list">
                        <a href="/CVO_Office">Office Information</a>
                     </li>
                     <li id="FAQ_list">
                        <a href="/CVO_FAQs">FAQs</a>
                     </li>
                     <li id="Article_list">
                        <a href="/CVO_Article">Articles</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
         <!-- #Menu -->
      </aside>
      <!-- #END# Left Sidebar -->
      <!-- Right Sidebar -->
      <aside id="rightsidebar" class="right-sidebar">
         <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
            <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
         </ul>
         <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
            </div>
            <div role="tabpanel" class="tab-pane fade" id="settings">
            </div>
         </div>
      </aside>
      <!-- #END# Right Sidebar -->
   </section>
   <section class="content">
   <div class="container-fluid">
   <script>
   $.get( "/CVO_Login/getUser", function( data ) {

             document.getElementById('userEmail').innerHTML=data[0].str_Email;
             document.getElementById('userName').innerHTML=data[0].str_FirstName+" "+data[0].str_LastName;
             document.getElementById('userPicture').src="/Employees"+data[0].str_IdPicturePath;

            if(data[0].int_EmployeeType==1){
               document.getElementById('userEmail').innerHTML="Apprehension Team Leader";
            }
            else  if(data[0].int_EmployeeType==2){
               document.getElementById('userEmail').innerHTML="Caretaker";
            }
   });
</script>